{% extends "layout.html" %}

{% block title %} Profile {% endblock %}

{% load static %}

    {% block main %}
    <section class="page-register pnl row">
        <div class="content-wrap">
            <h1 class="pnl__title">{{profile_detail_form.name.value}}'s Profile</h1>
                <div class="medium-12 large-12 small-10 large-centered small-centered columns">
                        <div class="row">
                            <div class="large-3 medium-8 small-10 small-centered large-centered columns">

                                {% if not profile_detail_form.image.value %}
                                    <img class="profile-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSwY0Ifx0mEN9C7n50Ub-viD3SQXUSrgYcNVu_nTrCRTpYcSGM9AQ-ZH0o" alt="Profile Image">

                                {% else %}
                                    <img class="profile-img" src="{{profile_detail_form.image.value}}" alt="{{ user.name }} {{ user.surname }} Profile Image">
                                {% endif %}
                            </div>
                            <div class="large-4 medium-4 small-10 small-centered large-centered columns centered">
                                <h1 class="centered">{{ profile_detail_form.name.value }} {{ profile_detail_form.surname.value }}</h1>
                                <h2>{{ profile_detail_form.position.value}}</h2>

                                <p>{{ profile_detail_form.city.value|default_if_none:"" }}</p>

                            </div>
                            <div class="large-4 medium-8 small-10 small-centered large-centered columns centered">
                                <h2>Keep in touch</h2>

                                    <ul class="profile__social">
                                        <li class="profile__social-item">
                                            <a href="{{ profile_detail_form.linkedin.value }}" class="footer__social-icon linkedin">{% include "icons/linkedin.svg" %}</a>
                                        </li>
                                        <li class="profile__social-item">
                                            <a href="{{ profile_detail_form.twitter.value}} " class="footer__social-icon twitter">{% include "icons/twitter.svg" %}</a>
                                        </li>
                                        <li class="profile__social-item">
                                            <a href="{{profile_detail_form.website.value}}" class="footer__social-icon">Website</a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="large-8 medium-8 small-12 columns small-centered large-centered ">
                            <h2>Background</h2>
                                <p>TODO</p>
                            <h2>Bio</h2>
                                <p>{{ profile_detail_form.bio.value|default_if_none:"" }}</p>
                            </div>
                        </div>

                        <div class="large-12 medium-12 small-12">
                            {% if user.get_usertype_display == "Marketer" %}
                                <h2>Volunteer profile</h2>
                            {% elif user.get_usertype_display == "Marketer" %}
                                <h2>Cause profile</h2>
                            {% endif %}
                        </div>
                        <div class="large-8 medium-8 small-12 columns small-centered large-centered centered">
                            <a href="TODO" class="button button--primary">Direct Message</a>
                        </div>
                </div>
        </section>
    {% endblock %}
