{% extends "layout.html" %}

{% load static %}


    {% block main %} 
	<div class="pnl-title page-login">

        <h1>Log In</h1>
       
        <form id="sign-in" method="POST" action="">
            <div class="row">
                 <div class="medium-6 medium-centered columns">
                     <input type="email" name="email" placeholder="Username" required>
                 </div>
            </div>
            <div class="row">
                <div class="medium-6 medium-centered columns">
                     <input type="password" name="password" placeholder="Password">
                     <a href="#">Forgot Password</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 medium-centered columns">
                    <input class="button round right" type="submit" value="Sign in">
                    <a href="create-account.html" class="underline txt-right">Not Registered? Start here</a>
                </div>
            </div>
         </form>

    </div> 


    {% endblock %}
