{% extends "layout.html" %}
{% load static widget_tweaks %}

{% block title %} Profile {% endblock %} 


    {% block main %} 

    <section class="page-profile pnl row">
        <div class="content-wrap">
            <h1 class="pnl__title">Profile</h1> 
            <div class="medium-12 large-12 small-10 large-centered small-centered columns">
                <div class="row">
                    <form method="POST" action="{% url 'profile_update' %}" class="large-10 medium-9 small-12 columns small-centered" novalidate>
                        
                        {% csrf_token %}
                        <div class="row">
                            <div class="large-6 medium-8 small-10 small-centered columns margin-bottom-30">  
                                {% if profile_update_form.errors %}
                                    <h5 class="text-danger"><i class="fa fa-exclamation-triangle margin-right-5" aria-hidden="true"></i>Please correct the following errors:</h4>
                                        <ul class="unstyled-list text-align-left">
                                            {% for field in profile_update_form %}
                                                {% for error in field.errors %}
                                                    <li class="text-danger"><b>{{ field.name|title }}</b>: {{ error|escape }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in profile_update_form.non_field_errors %}
                                                <p class="text-danger">{{ error|escape }}</p>
                                            {% endfor %}
                                         </ul>
                                {% endif %}

                                {% if additional_profile_form.errors %}
                                    <ul class="unstyled-list text-align-left">
                                        {% for field in additional_profile_form %}
                                            {% for error in field.errors %}
                                                <li class="text-danger"><b>{{ field.name|title }}</b>: {{ error|escape }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in additional_profile_form.non_field_errors %}
                                            <p class="text-danger">{{ error|escape }}</p>
                                        {% endfor %}
                                     </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-4 medium-4 small-6 small-centered medium-uncentered columns {% if profile_update_form.image.errors %} has-error {% endif %}">  

                                {% if not profile_update_form.image.value %}
                                    <img class="profile-img " src={% static "images/placeholder/marketer-default-image.png" %} alt="Example Profile Image">
                                {% else %}
                                    <img 
                                        class="profile-img"
                                        src={% static "profile_update_form.image.value" %}
                                        {% if user.is_cause %}
                                            alt="{{ user.cause_name }} Profile Image"
                                        {% else %]
                                            alt="{{ user.name }} {{ user.surname }} Profile Image"
                                        {% endif %}
                                    >
                                    
                                    {% if profile_update_form.image.errors %}
                                        {% for error in profile_update_form.image.errors %}
                                            <p class="form-error pull-left text-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}

                                {{ profile_update_form.media }}
                                {{ profile_update_form.image }}
                            </div>
                            <div class="large-offset-3 medium-offset-2 large-4 medium-6 small-12 small-centered medium-uncentered columns">
                                {% if user.is_cause %}
                                    <label for="cause_name">Cause Name</label>
                                    <span class="{% if additional_profile_form.cause_name.errors %} has-error {% endif %}">
                                        {{ additional_profile_form.cause_name }}
                                    </span>
                                {% endif %}

                                <label for="name">{% if user.is_cause %} Contact {% endif %}Name</label>
                                <input class="{% if profile_update_form.name.errors %}has-error{% endif %}" type="text" name="name" placeholder="Sam" value='{{ profile_update_form.name.value|default_if_none:"" }}' required>

                                <label for="surname">{% if user.is_cause %} Contact {% endif %}Surname</label>
                                <input class="{% if profile_update_form.surname.errors %}has-error{% endif %}" type="text" name="surname" placeholder="Jones" value='{{ profile_update_form.surname.value|default_if_none:"" }}' required>

                                <label for="position">{% if user.is_cause %} Contact {% endif %}Position</label>
                                <input class="{% if profile_update_form.position.errors %}has-error{% endif %}" type="text" name="position" placeholder="Marketer" value='{{ profile_update_form.position.value|default_if_none:"" }}' required>

                                <label for="city">City</label>
                                <input class="{% if profile_update_form.city.errors %}has-error{% endif %}" type="text" name="city" placeholder="London" value='{{ profile_update_form.city.value|default_if_none:"" }}' required>

                                <label for="country">Country</label>

                                {{ profile_update_form.country.errors }}
                                {{ profile_update_form.country }}
                            </div>
                        </div>
                        <div class="small-12">
                            <h2 class="text-align-left"><i class="fa fa-comments-o margin-right-5" aria-hidden="true"></i>Contact Info &amp; Social</h2>
                        </div>
                        <div class="large-12 medium-12 small-12 small-centered medium-uncentered">
                                <div class="row">
                                    <div class="columns small-12 medium-6">

                                    <label for="linkedin">LinkedIn</label>
                                    <input class="{% if profile_update_form.linkedin.errors %}has-error{% endif %}" type="url" name="linkedin" placeholder="https://linkedin.com/username" value='{{ profile_update_form.linkedin.value|default_if_none:"" }}'>

                                    <label for="twitter">Twitter</label>
                                    <input class="{% if profile_update_form.twitter.errors %}has-error{% endif %}" type="url" name="twitter" placeholder="https://twitter.com/username" value='{{ profile_update_form.twitter.value|default_if_none:"" }}'>
                                </div>
                                <div class="columns small-12 medium-6">
                                    <label for="website">Website</label>
                                    <input class="{% if profile_update_form.website.errors %}has-error{% endif %}" type="url" name="website" placeholder="https://www.example.com" value='{{profile_update_form.website.value|default_if_none:""}}'>
                                    
                                    <label for="phone">Phone <span class="helptext">(this wont be shared)</span></label>
                                    <input class="{% if profile_update_form.phone.errors %}has-error{% endif %}" type="text" name="phone" placeholder="07654123456" value='{{ profile_update_form.phone.value|default_if_none:"" }}' required>
                                </div>
                            </div>
                        </div>
                        <div class="large-12 medium-12 small-12">
                            <h2 class="text-align-left"><i class="fa fa-user-circle-o margin-right-5" aria-hidden="true"></i>About</h2>
                        </div>

                        {% if user.is_marketer  %}

                            <div class="large-12 medium-12 small-12">                            
                                {{ additional_profile_form.experience.errors }}
                                <label for="experience">Experience</label>

                                <textarea name="experience" rows="10" placeholder="Work Experience" required >{{ additional_profile_form.experience.value | title}}</textarea>
                            </div>
                            <div class="large-12 medium-12 small-12">                            

                                <label for="id_skill">Skills</label>
                                <p class="helptext">Please choose all that apply</p>

                                <ul id="id_skill" class="unstyled-list text-align-left">
                                    {% for skill in additional_profile_form.skill %}
                                        <li>{{ skill }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="large-12 medium-12 small-12"> 
                                <div class="margin-top-30">  
                                    <label class="display-block">Availability</label>                         
                                    {{ additional_profile_form.availability.errors }}
                                    {{ additional_profile_form.availability }}
                                    <label for="availability"> I am available to be contacted for help by Causes </label>
                                </div>
                            </div>
                        {% else %}
                            <div class="small-6 {% if additional_profile_form.category.errors %}has-error{% endif %}">
                                <label for="category">Category</label>
                                <p class="helptext">Please select the categoy that describes your Cause</p>
                                {{ additional_profile_form.category }}
                            </div>
                            <div class="large-12 medium-12 small-12">                            
                                {{ additional_profile_form.mission.errors }}
                                <label for="mission">Mission</label>

                                <textarea name="mission" rows="10" placeholder="What is your Cause Mission?" required>{{ additional_profile_form.mission.value }}</textarea>
                            </div>
                        {% endif %}
                        <div class="large-12 medium-12 small-12 {% if profile_update_form.bio.errors %}has-error{% endif %} margin-top-30">
                            <label for="bio">Additional information</label>
                            <textarea name="bio" rows="10" placeholder="{% if user.is_marketer  %}Hi! My name is Sam, I am a London based Marketer.{% else %}Example Cause has been founded in 2007 and our aim is...{%endif%}">{{ profile_update_form.bio.value}}</textarea>
                        </div>
                        <div class="large-6 medium-6 small-12">
                            <input class="button button--primary margin-top-30" type="submit" value="Update">
                        </div>
                    </form>
                </div> 
            </div> 
        </div>
    </section>

    {% endblock %}
