/* =================================
   PAGES / CONTACT
   ================================= */

[class^="page"]
{
    @extend .pnl--dark-txt;
    background-color: $white;
    padding-bottom: 6em;

    .pnl__title {
    	color: $purple;
    }
}

.icon--super {
    font-size: 12em;
}

.pnl {
    &--primary {
        background: $pink;
    }

    &--secondary {
        background: $purple;
    }

    &--primary,
    &--secondary {
        * {
            color: $white;
        }
    }

    &__border--bottom {
        border-bottom: 1px solid $grey;
    }
}