/* =================================
   PAGES / MEET THE TEAM
   ================================= */

$team-individual-img-height: 150px;

.page-team {
    @extend .pnl--dark-txt;
    background-color: $pink;
    padding-bottom: 6em;

    .pnl__title {
    	color: $purple;
    }
}


.team {

    &__individual-wrapper {
        margin: 70px 0 0;
        border-top: $team-individual-img-height/2 solid $white;
        background-color: #F2F2F2;
    }

    &__individual {
        padding: 1em;
        box-shadow: 0 1px 1px rgba(66, 57, 57, 0.26);
    }

    &__individual-name {
        color: $pink;
    }

    &__individual-role {
        font-style: italic;
    }

    &__individual-image {
        display: block;
        width: 15em;
        height: auto;
        margin: 0 auto;
        margin-top: -$team-individual-img-height/2;
        border: 1px solid #eee;
    }
}

