/* =================================
   PAGES / Profile
   ================================= */
.profile {

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__img-background {
        padding-top: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin: auto;
        width: 100%;
        max-height: 100%;
    }

    &__img-wrapper {
        max-width: 300px;
        max-height: 300px;
        margin: 0 auto;
    }

    &-img {
        width: 100%;
        height: auto;
    }

	&__social {
		list-style: none;
		display: inline;
		margin: 0;
		padding: 0;

		&-item {
			display: inline-block;
			margin: 0 5px 0;
		}

		&-icon {
			font-size: 25px;
			color: $green;
		}
	}

}
