{% extends "layout.html" %}

{% load static %}

{% block main %} 
    <section class="page-about">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small -12 columns">
                    <h1 class="pnl__title">About Us</h1>
                    <p>Pimp My Cause is a web based platform bringing good causes in need of professional marketing support together with professional experts able to contribute this expertise pro bono. </p>

                    <p>Think of it as an online dating agency and collaborative think tank for great causes to meet talented professionals to help support them. Whether you are a marketing professional looking to donate your expertise to a good cause, apply your skills in a new sector, learn from your peers, enjoy a new challenge or enhance the reputation of your business, Pimp my Cause puts highly rewarding challenges within a click of your mouse button.</p>

                    <p>And if you run a social enterprise, charity, NGO or citizen organization of any kind looking to address a social or environmental need, then you will find individuals or teams of professional marketers, including innovators, strategists, communications specialists, graphic designers or even web developers who will help you build the future you envision.</p>
                    </div>
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     