{% extends "layout.html" %}

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 large-centered medium-8 medium-centered small-12 columns">
                    <h1 class="pnl__title">About Us</h1>
 
                </div> 
            </div> 
        </div>
    </section>

    <!-- ************* -->
    <!-- SIGN UP PANEL -->
    <!-- ************* -->
    
    <section class="pnl-signup">
        <div class="content-wrap">
            <div class="row"> 
                <div class="large-12 medium-12 small -12 columns">
                    <h4 class="pnl__title">Stay updated with news and events</h4>                            
                    <form method="POST" action="https://pimpmycause.us2.list-manage.com/subscribe/post">
                        <input type="hidden" name="u" value="23c6e23757f1478af7548526b">
                        <input type="hidden" name="id" value="eafa9094b7">
                        <div class="medium-6 large-6 small-12 large-centered small-centered columns">
                            <div class="row">
                                <div class="medium-6 large-6 small-12 columns">
                                    <input type="text" name="MERGE1" placeholder="First Name *" required>
                                </div>
                                <div class="medium-6 large-6 small-12 columns">
                                    <input type="text" name="MERGE2" placeholder="Surname *" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-6 large-6 small-12 columns">
                                    <input type="email" name="MERGE0" placeholder="Email Address" required>
                                </div>
                                <div class="medium-6 large-6 small-12 columns btn-wrapper">
                                    <input class="button" type="submit" value="Sign up">
                                </div>                            
                            </div>
                        </div>                                
                    </form>
                </div>
            </div>   
        </div> 
    </section>
 
{% endblock %}
     