{% extends "layout.html" %}

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 large-centered medium-8 medium-centered small-12 columns">
                    <h1 class="pnl__title">About Us</h1>
 
                </div> 
            </div> 
        </div>
    </section>

    <section class="pnl-signup">
            <div class="content-wrap">
                <div class="row"> 
                    <div class="large-12 medium-12 small-12 columns">
                        <h4 class="pnl__title">Stay updated with news and events</h4>                            
                        <form method="POST" action="">
                            <div class="medium-6 large-6 small-12 large-centered small-centered columns">
                                <div class="row">
                                    <div class="medium-6 large-6 small-12 columns">
                                        <input type="text" name="fname" placeholder="First Name *" required>
                                    </div>
                                    <div class="medium-6 large-6 small-12 columns">
                                        <input type="text" name="sname" placeholder="Surname *" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-6 large-6 small-12 columns">
                                        <input type="email" name="email" placeholder="Email Address" required>
                                    </div>
                                    <div class="medium-6 large-6 small-12 columns">
                                        <input class="button" type="submit" value="Keep me updated!">
                                    </div>                            
                                </div>
                            </div>                                
                        </form>
                    </div>
                </div>   
            </div> 
        </section>
 
{% endblock %}
     