{% extends "layout.html" %}

{% block title %} Become a Partner {% endblock %} 

{% load static %}

{% block main %} 
    <section class="pnl pnl--primary">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Become a Partner</h1>
                    <h2 class="pnl--light-txt margin-top-0">Join us in Marketing a Better World</h2>
                    <div class="row clearfix">
                        <p class="small-12 medium-8 large-8 large-centered medium-centered column text-align-center pnl--light-txt">Pimp My Cause creates bespoke partnerships that are good for business, good for our causes and help us to scale our impact.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl pnl--triangle">
        <div class="content-wrap">
             <div class="row">
                <div class="row clearfix padding-top-30 padding-bottom-30 partners">
                    <div class="small-12 medium-8 columns">
                        <h2 class="accent-color partners__title">Marketing Teams</h2>
                        <h3 class="margin-top-0 h4 partners__title">Build stronger marketing teams while helping good causes</h3>
                        <p class="partners__description">We offer <a class="text-linkhref="#TODO">marketing Challenges</a>, which help marketing teams to meet their talent development goals while achieving breakthrough social value for great causes. This is a fantastic opportunity for companies to support marketing staff learning and development while contributing to their social purpose or CSR agenda at the same time.</p>
                    </div>
                    <div class="small-12 medium-4 columns text-align-center hide-for-small-only">
                        <img class="margin-top-45" src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/custom-icons/partners-square.JPG" slt="Marketing Teams Icon Image">
                    </div>
                </div>
                <div class="row clearfix padding-top-30 padding-bottom-30">
                    <div class="small-12 medium-4 columns hide-for-small-only">
                        <img class="margin-top-45" src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/custom-icons/team-square.JPG" alt="Agencies Icon Image">
                    </div>
                    <div class="small-12 medium-8 columns">
                        <h2 class="accent-color partners__title--right">Agencies</h2>
                        <h3 class="margin-top-0 h4 partners__title--right">Make the most out of pro bono</h3>
                        <p class="partners__description--right">We showcase the service an agency would like to become better known for and find the ideal cause to take advantage of the pro bono support that is being offered.</p>
                    </div>
                </div>
                <div class="row clearfix padding-top-30 padding-bottom-30">
                    <div class="small-12 medium-8 columns">
                        <h2 class="accent-color partners__title">Professional Organisations</h2>
                        <h3 class="margin-top-0 h4 partners__title">Increase member participation</h3>
                        <p class="partners__description">We develop custom collaborations that engage the organisations’ members and audiences in participating. We showcase the impacts their members can achieve through high quality streams of content.</p>
                    </div>
                    <div class="small-12 medium-4 columns text-align-center hide-for-small-only">
                        <img class="margin-top-45" src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/custom-icons/challenges-square.JPG">
                    </div>
                </div>
            </div> 
        </div> 
    </section>

    <section class="pnl pnl--secondary" id="our-partners">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Our Partners</h1>
                    <div class="row clearfix">
                        <p class="small-12 medium-8 large-8 large-centered medium-centered column text-align-center pnl--light-txt">We collaborate with the following organisations. <a href="{% url 'contact' %}" class="text-link">Get in touch</a> if you’d like to join us in Marketing a Better World.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl">
        <div class="content-wrap">
            <div class="row padding-top-30">
                <ul class="partners__list clearfix">
                    <li class="partners__item">
                        <a href="https://www.marketingsociety.com/" title="The Marketing Society Logo">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/Marketing+Society+use+if+white+backgound.jpg" alt="The Marketing Society" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://www.marketingtrust.org/" title="Marketing Trust">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/Marketing+trust.gif" alt="Marketing Trust Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://www.cim.co.uk/" title="CIM">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/CIM.jpg" alt="CIM Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://www.ipa.co.uk/" title="IPA">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/IPA.jpg" alt="IPA Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="https://www.iabuk.net/" title="IAB">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/IAB+UK.jpg" alt="IAB Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="https://www.emrrecruitment.co.uk/" title="EMR">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/EMR.png" alt="EMR Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://ogilvychange.com/" title="OgilvyChange">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/Ogilvychange.jpg" alt="OgilvyChange Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://www.innvotec.co.uk/" title="Innvotec">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/Innvotec.gif" alt="Innvotec Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://www.companyofmind.com/" title="Company of Mind">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/Company+of+Mind.jpg" alt="Company of Mind Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="http://inspirengage.com/" title="InspirEngage">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/Inspirengage.png" alt="InspirEngage Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="https://unltd.org.uk/" title="UnLtd">
                            <img src="https://s3-eu-west-1.amazonaws.com/pimpmycause-images/partners/UnLtd.png" alt="UnLtd Logo" class="partners__logo"/>
                        </a>
                    </li>
                    <li class="partners__item">
                        <a href="https://tmlpartners.com/news/a-match-made-in-heaven-tml-partners-teams-up-with-pimp-my-cause/" title="Tml partners">
                            <img class="partners__logo" alt="Tml partners Logo" src="{% static 'images/partners/TML_partners.png' %}"/>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </section> 

{% endblock %}
     