{% extends "layout.html" %}

{% load static %}

    {% block main %} 
    <div class="pnl-title page-register large-12">
            
        <h1>Contact Us</h1>
        
        <form id="contact-us" method="POST" action="//formspree.io/help@pimpmycause.org">
            
            <input type="hidden" name="_subject" value="New Submission: Pimp My Cause Contact Form"/>
            <input type="text" name="_gotcha" style="display:none"/>
        
            <!-- row firstname and surname -->
            <div class="row">
                <div class="medium-4 medium-push-2 columns">
                    <input type="text" name="fname" placeholder="First Name" required>
                </div>
                <div class="medium-4 medium-pull-2 columns">
                    <input type="text" name="sname" placeholder="Surname" required>
                </div>
            </div>
            
            <!-- row email and password -->
            <div class="row">
                <div class="medium-4 medium-push-2 columns">
                    <input type="email" name="email" placeholder="Email Address" required>
                </div>
                <div class="medium-4 medium-pull-2 columns">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
            </div>
            
            <!-- row message -->
            <div class="row">
                <div class="medium-8 medium-push-2 columns">
                    <textarea name="message" rows="5" placeholder="Your message here" required></textarea>
                </div>
            </div>
            
            <!-- row submit button -->
            <div class="row">
                <div class="medium-8 medium-centered text-center columns">
                    <input class="button round" type="submit" value="Submit">
                </div>                            
            </div>

        </form>
                        
    </div>
    {% endblock %}
