{% extends "layout.html" %}

{% block title %} Terms &amp; Conditions {% endblock %} 

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered small-12 columns">
                    <h1 class="pnl__title">Cookies Policy</h1>
                    <p>This website uses ‘session’ cookies to distinguish you from other users of the website. This helps
                    MarketingKind Ltd to provide you with a good experience when you browse the site, and
                    also enables MarketingKind Ltd to compile statistics that help in understanding how the
                    website is used and to improve its structure.</p>
                    <p>This site also uses ‘persistent’ cookies, which are cookies that remain in the cookies file of your
                    browser for longer and help MarketingKind Ltd to recognise you as a unique visitor to the
                    website.</p>
                    <p>This website’s analytics cookies include Google Analytics.
                    MarketingKind Ltd will not store any personal data that you provide in your cookies.
                    By using this website, you are deemed to consent to MarketingKind’s use of the
                    cookies described above.</p>

                    <p>You can also refuse to accept all or some cookies by amending the settings on your web browser,
                    or using the links provided above. Please note that if you use your browser settings to block all
                    cookies (including essential cookies) you may not be able to access all or parts of this site.
                    You may also delete cookies at any time by going to the browsing settings on your web browser.</p>
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     