{% extends "layout.html" %}

{% block title %} How it works {% endblock %} 

{% load static %}

{% block main %} 
    <section class="pnl pnl--primary">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">How it works</h1>
                    <div class="row clearfix">
                        <p class="small-12 medium-8 large-8 large-centered medium-centered column text-align-center pnl--light-txt">The Pimp My Cause web platform is free for both marketers and causes and is made available by the social enterprise MarketingKind.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-about pnl margin-top-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered small-12 columns">
                    <h2 class="accent-color text-align-left">Step one</h2>
                    <p>Fill in the <a class="text-link" href="{% url 'registration_register' %}">registration form</a>, then check your email and click on the link in the Pimp My Cause
                    account activation email.</p>
                    <h2 class="accent-color text-align-left">Step two</h2>
                    <p>Complete your profile as a cause or as a marketer. You can always view, edit or delete your
                    profile by clicking on your name in the top right corner of the screen (after signing in). Make
                    sure to upload your photo or cause logo to attract more members to your profile.</p>
                    <h2 class="accent-color text-align-left">Step three</h2>
                    <p>If you are a cause make sure to create at least one help wanted ad so that our marketing
                    members are aware of what marketing assistance you need. You can always add, view, delete
                    or edit your help wanted ads by logging in, clicking on your name in the top right corner of your
                    screen button (after signing in).</p>
                    <h2 class="accent-color text-align-left">Step four</h2>
                    <p>Search and browse on the Find a Marketer and Find a Cause pages to find the volunteer
                    marketer(s) or cause(s) you would like to work with. Send messages expressing your interest
                    and your goals. </p>
                    <h2 class="accent-color text-align-left">Step five</h2>
                    <p>Make sure to let us know about the work that gets done through Pimp My Cause by
                    emailing <a class="text-link" href="mailto:anna@marketingkind.org">anna@marketingkind.org.</a></p>
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     