{% extends "layout.html" %}

{% block title %} Team Challenges {% endblock %} 

{% load static %}

{% block main %} 
    <section class="pnl pnl--tertiary padding-bottom-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns padding-top-30">
                    <h1 class="pnl__title">Team Challenges</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl pnl--tertiary">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <p class="pnl__subtitle">Is your CFO asking you to <span class="pnl__subtitle--accent">spend less?</span></p>
                    <p class="pnl__subtitle">And is your CEO asking you to <span class="pnl__subtitle--accent">accomplish more?</span></p>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl pnl--primary padding-top-30 margin-top-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h4 class="h1 small-12 medium-8 large-8 large-centered medium-centered column text-align-center pnl--light-txt">Challenges are dedicated to building marketing teams that accomplish more with less. We achieve this by fostering a team’s purposefulness, creativity and collaboration. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl pnl--triangle">
        <div class="content-wrap">
             <div class="row">
                <div class="clearfix padding-top-30 padding-bottom-30 partners">
                    <div class="small-12 medium-8 columns medium-centered">
                        <h2 class="accent-color partners__title">What is a challenge?</h2>
                        <h3 class="margin-top-0 h4 partners__title">Challenges are talent development programmes with a difference.</h3>
                        <p class="partners__description">They provide live charity briefs that have to be fulfilled with zero or low budgets and that are built around a team’s talent development needs and with expert mentors and coaches available to support the process. The experience is transformational and results is a team that is able to deliver more efficiently and effectively on business priorities and the legacy of a positive social impact.</p>
                    </div>
                </div>
                <div class="small-12 medium-8 columns medium-centered">
                    <bloquote class="accent-color h2 display-inline-block">“Give your team the gift of a seemingly impossible challenge.”</bloquote>
                    <h3 class="h5 text-align-left margin-top-0">- Mark Evans, CMO Direct Line Group</h3>
                    <p class="margin-top-0">Solving big problems with small budgets helps marketers to:</p>
                    <ol class="display-inline-block small-12 medium-6 medium-centered columns">
                        <li>Builds Leadership</li>
                        <li>Increases Creativity</li>
                        <li>Engages Employees</li>
                        <li>Changes Perceptions</li>
                        <li>Diversifies Experience</li>
                        <li>Boosts Confidence</li>
                        <li>Raises Ambition</li>
                    </ol>
                </div>
            </div> 
        </div> 
    </section>
    <section class="pnl pnl--primary padding-bottom-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title text-align-left">Client business benefits</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl padding-bottom-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <div class="row padding-top-30">
                        <div class="medium-6 small-12 columns">
                            <div class="row padding-top-30">
                                <div class="small-5 medium-4 columns">
                                    <img src="{% static 'images/challenges/laurence.jpg'%}" alt="Laurence Stock Image"/>
                                </div>
                                <div class="small-7 medium-8 columns">
                                    <blockquote class="h5 margin-top-0">“We created the Loyalty for Good Challenge at a time when we were reinventing how Nectar works and needed the team to develop their entrepreneurial skills."</blockquote>
                                    <p class="text-accent h6">– Laurence Stock, Nectar card</p>
                                </div>
                            </div>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <div class="row padding-top-30">
                                <div class="small-5 medium-4 columns">
                                    <img src="{% static 'images/challenges/marina-banks.jpg'%}" alt="Marina Banks Image"/>
                                </div>
                                <div class="small-7 medium-8 columns">
                                    <blockquote class="h5 margin-top-0">“We created the Loyalty for Good Challenge at a time when we were reinventing how Nectar works and needed the team to develop their entrepreneurial skills."</blockquote>
                                    <p class="text-accent h6">– Marina Banks, Ogilvy</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-top-30">
                        <div class="medium-6 small-12 columns">
                            <div class="row padding-top-30">
                                <div class="small-5 medium-4 columns">
                                    <img src="{% static 'images/challenges/catherine-cherry.jpg'%}" alt="Catherine Cherry Image"/>
                                </div>
                                <div class="small-7 medium-8 columns">
                                    <blockquote class="h5 margin-top-0">"Mobile is a fast-paced world and our Challenge helped the team to rise above the day-to-day noise, think strategically and build longer term plans that help good causes to achieve more for society."</blockquote>
                                    <p class="text-accent h6">– Catherine Cherry, Sony Mobile</p>
                                </div>
                            </div>
                        </div>
                        <div class="medium-6 small-12 columns">
                            <div class="row padding-top-30">
                                <div class="small-5 medium-4 columns">
                                    <img src="{% static 'images/challenges/steve-walker.png'%}" alt="Steve Walker Image"/>
                                </div>
                                <div class="small-7 medium-8 columns">
                                    <blockquote class="h5 margin-top-0">"A Challenge is a unique opportunity to go beyond the confines of the day job, to experience new ways of working, to overcome fears and to learn to embrace change."</blockquote>
                                    <p class="text-accent h6">– Steve Walker, Two Sides</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl pnl--primary padding-bottom-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title text-align-left">We've worked with...</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl">
        <div class="content-wrap">
            <div clas="row padding-top-30">
                <ul class="partners__list unstyled-list clearfix">
                    <li class="small-6 medium-4">
                        <img src="{% static 'images/challenges/nectar-card.jpg' %}" class="partners__logo" alt="Nectar Card Image"/>
                    </li>
                    <li class="small-6 medium-4">
                        <img src="{% static 'images/challenges/xperia-logo.png' %}" class="partners__logo" alt="Experia Image"/>
                    </li>
                    <li class="small-6 medium-4">
                        <img src="{% static 'images/challenges/ipa.jpg' %}" class="partners__logo" alt="Ipa Image"/>
                    </li>
                    <li class="small-6 medium-4">
                        <img src="{% static 'images/challenges/ogilvy-change.jpg' %}" class="partners__logo" alt="Ogilvy change Image"/>
                    </li>
                    <li class="small-6 medium-4">
                        <img src="{% static 'images/challenges/public-health-england.png' %}" class="partners__logo" alt="Public Health England Image"/>
                    </li>
                    <li class="small-6 medium-4">
                        <img src="{% static 'images/challenges/NCH.png' %}" class="partners__logo padding-0" alt="New College of Humanities Image"/>
                    </li>
                </ul>
            </div>
        </div>
    </section> 
    <section class="pnl pnl--primary padding-bottom-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title text-align-left">Steps of implementation</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="pnl pnl--tertiary padding-bottom-30">
        <div class="content-wrap">
             <div class="row">
                <ol class="unstyled-list">
                    <li class="challenge large-6 medium-12 small-12 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h1 class="h2">1. Prepare</h1>
                                <div class="curly-brace__wrapper hide-for-small-only">
                                    <div class="curly-brace">
                                        <div class="brace brace-left"></div>
                                        <div class="brace brace-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="challenge__step">
                                    <p class="challenge__step-title h5 margin-bottom-0">Choose a challenge</p>
                                </div>
                            </div>
                            <span class="arrow arrow--right"></span>
                            <div class="small-12 medium-6 columns">
                                <div class="challenge__step">
                                    <p class="challenge__step-title h5 margin-bottom-0">Frame goals and objectives</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="challenge large-offset-3 large-6 medium-12 small-12 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h1 class="h2">2. Challenge</h1>
                                <div class="curly-brace__wrapper hide-for-small-only">
                                    <div class="curly-brace">
                                        <div class="brace brace-left"></div>
                                        <div class="brace brace-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="challenge__step">
                                    <p class="challenge__step-title h5 margin-bottom-0">Introduce a challenge</p>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="challenge__step">
                                    <p class="challenge__step-title h5 margin-bottom-0">Tackle briefs with mentoring support</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="challenge large-offset-6 large-6 medium-12 small-12 columns">
                        <div class="row">
                            <div class="small-12 columns">
                                <h1 class="h2"> 3. Capture</h1>
                                <div class="curly-brace__wrapper hide-for-small-only">
                                    <div class="curly-brace">
                                        <div class="brace brace-left"></div>
                                        <div class="brace brace-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="challenge__step">
                                    <p class="challenge__step-title h5 margin-bottom-0">Present achievements and award prizes</p>
                                </div>
                            </div>
                            <div class="small-12 medium-6 columns">
                                <div class="challenge__step">
                                    <p class="challenge__step-title h5 margin-bottom-0">Harvest performance outcomes from all participants</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </section>
    <section class="pnl pnl--secondary padding-top-30 margin-top-30">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h4 class="h1 small-12 medium-8 large-8 large-centered medium-centered column text-align-center pnl--light-txt">What measurable business goals could you achieve with an even more purposeful, creative and collaborative marketing team?</p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
     