{% extends "layout.html" %}

{% block title %} Meet the team {% endblock %} 

{% load static %}

{% load core_filters %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Meet The Team</h1>
                        <div class="row">
                            <div class="team js-team-wrapper small-12">
                                {% for person in team_member_list %}
                                    <div class="team__individual-wrapper medium-6 small-12">
                                        <div class="team__individual">
                                            {% if person.image %}
                                                <img alt="{{ person.name}} {{person.surname}} Image" class="team__individual-image" src="{{ person.image }}"/>
                                            {% else %}
                                                <img alt="{{ person.name}} {{person.surname}} Image" class="team__individual-image" src={% static "images/placeholder/marketer-default-image.png" %}/>
                                            {% endif %}

                                            <h2 class="team__individual-name">{{ person.name }} {{ person.surname }}</h2>
                                            <h3 class="team__individual-role">{{ person.position }}</h3>
                                        
                                            <div class="team__individual-bio">
                                                {{ person.bio|safe}}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    <script>
        var team_member_list_json = {{ team_member_list_json|json|safe }};
    </script>
{% endblock %}
     