{% extends "layout.html" %}

{% block title %} Meet the team {% endblock %} 

{% load static %}

{% load core_filters %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Meet The Team</h1>
                        <div class="row">
                            <div class="team">
                                {{ team_member_list|json|safe}}
                                <!-- {% for person in team_member_list %}
                                    <div class="team__individual-wrapper medium-6 small-12">
                                        <div class="team__individual">
                                            {% if not profile_update_form.image.value %}
                                                <div class="team__individual-image" style="background-image: url('https://s3-eu-west-1.amazonaws.com/pimpmycause-images/uploads/imgs/marketer-default-image.png')"></div>
                                            {% else %}
                                                <div class="team__individual-image" style="background-image: url({{person.image.value}})"/></div>
                                            {% endif %}

                                            <h2 class="team__individual-name padding-top-30">{{ person.name }} {{ person.surname }}</h2>
                                            <h3 class="team__individual-role margin-top-0">{{ person.position }}</h3>
                                        

                                            <div class="team__individual-bio">
                                                {{ person.bio|safe }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %} -->
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    <script>
        const team_members_list = {{ team_members_list|json|safe }};
    </script>
{% endblock %}
     