{% extends "layout.html" %}

{% load static %}

{% block main %} 
    <section class="page-about">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small -12 columns">
                    <h1 class="pnl__title">Meet The Team</h1>

                    <div class="team">

                        <div class="team-member">
                            <h2>Paul Skinner</h2>
                            <h3>Founder and Director</h3>
                            <div>
                                <p> Paul created Pimp My Cause and has led the platform to creating over £15 million of social value, making pro bono marketing accessible to over 1,600 charities and social enterprises.</p>

                                <p>Paul created Pimp My Cause and has led the platform to creating over £15 million of social value, making pro bono marketing accessible to over 1,600 charities and social enterprises.</p>

                                <p>He believes passionately in the role of marketing in identifying needs, formulating solutions and engaging support for those solutions in addressing social and environmental challenges as well as commercial ones and believes that marketers and good causes have a lot to learn from each other.</p>

                                <p>He believes passionately in the role of marketing in identifying needs, formulating solutions and engaging support for those solutions in addressing social and environmental challenges as well as commercial ones and believes that marketers and good causes have a lot to learn from each other.</p>
                                
                                <p>Paul also runs the Agency of the Future through which he has pioneered the concept of Strategic Collaborative Advantage as a radical alternative to Strategic Competitive Advantage for a more inter-connected world.</p>

                                <p>Paul also runs the Agency of the Future through which he has pioneered the concept of Strategic Collaborative Advantage as a radical alternative to Strategic Competitive Advantage for a more inter-connected world.</p>
                                <p>Paul is an Associate of Co-operatives UK, sits on the Council of the Internet Advertising Bureau and is a member of the Donor Advisory Group at the START Network.</p>
                            </div>
                        </div>

                        <div class="team-member">
                            <h2>Anna Mullenneaux</h2>
                            <h3>Head of Marketing and Chief Match Maker</h3>
                            <div>
                                <p>Anna runs the pro bono marketing platform and from the beginning has led member engagement, community support and the marketing of the platform.</p>

                                <p>Through her work Anna makes it easy for any marketer to find a cause to support using their marketing skills and works with marketing teams to expand their marketing capabilities while helping great causes. And she specialises in helping causes find the right marketers and organisation to provide the pro bono marketing support they need to grow and achieve their goals.</p>

                                <p>She has a strong interest in sustainability and ethical marketing and embodies the spirit of Pimp My Cause in all her work.</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     