{% extends "layout.html" %}

{% block title %} Terms &amp; Conditions {% endblock %} 

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered small-12 columns">
                    <h1 class="pnl__title">Terms &amp; Conditions</h1>
                    <p>Terms and conditions will be added here<p>
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     