{% extends "layout.html" %}

{% block title %} Terms &amp; Conditions {% endblock %} 

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered small-12 columns">
                    <h1 class="pnl__title">Terms &amp; Conditions</h1>
                    <p>By accessing or using this website, you agree to be bound by these Terms and Conditions.
                    The Terms and Conditions, as well as the website (and information contained within the website)
                    may be updated or revised from time to time without notice to you. You agree to periodically
                    review these Terms and Conditions, and your continued access to or use of this website shall
                    constitute your acceptance of the updated or revised Terms and Conditions.</p>
                    
                    <h2 class="h3 text-align-left">Terms of use</h2>
                    <p>The services facilitated by MarketingKind Ltd are on an &quot;information-only&quot; basis. 
                    MarketingKind Ltd is merely giving you access to information provided by our members, MarketingKind 
                    Ltd is not responsible for the work or advice given by our members and cannot
                    comment on its reliability, suitability or accuracy for any purpose.</p>
                    <p>Neither we nor our advisors shall be liable, in contract, tort (including, without limitation,
                    negligence), statutory duty, collaterally or otherwise for any loss, damage, costs, expenses or
                    other liability which may arise from or in connection with (a) the reliability, suitability or
                    accuracy of the information provided to you; and / or (b) any decision or action you take or fail
                    to take in reliance on the advice you receive via us.</p>
                    <p>This is a comprehensive limitation of liability that applies to loss or damage of any kind,
                    including (without limitation) compensatory, direct, indirect or consequential damages, loss of
                    data, income or profit, loss of or damage to property and claims of third parties.
                    Notwithstanding the foregoing, none of the exclusions and limitations above are intended to limit
                    any rights you may have as a consumer under local law or other statutory rights which may not
                    be excluded nor in any way to exclude our liability to you for death or personal injury resulting
                    from our negligence or that of our employees or agents.</p>
                    <h2 class="h3 text-align-left">Third party websites</h2>
                    <p>This website may contain links to websites which are not under the control of MarketingKind Ltd. MarketingKind Ltd does not accept responsibility or liability for the operation or
                    content of such websites.</p>
                    <h2 class="h3 text-align-left">Copyright</h2>
                    <p>The information and materials on this website may be printed and used for personal purposes
                    only. You may electronically copy or print extracts of materials from this website for such
                    purpose only and without alteration, addition or deletion. Any other use requires the express
                    written permission of MarketingKind Ltd. All rights reserved.</p>
                    <h2 class="h3 text-align-left">Data protection</h2>
                    <p>In order to use our system, you will need to complete a simple registration form. By completing
                    this registration form, you will be providing MarketingKind Ltd (&quot;We&quot; or &quot;Us&quot;) with
                    information about yourself which may constitute &quot;personal data&quot; (for example, your email
                    address, name, phone number).</p>
                    <p>By registering on our website you are agreeing to receive our email newsletter. If at any time you
                    wish to remove your email address from our mailing list you can do so by clicking on the
                    “unsubscribe” link at the bottom of our newsletters or by written request to
                    <a href="mailto:hello@marketingkind.org">hello@marketingkind.org</a>.
                    <p>MarketingKind Ltd undertakes to use your Personal Data only for the following purposes:</p>
                    <ul>
                        <li>Contacting you</li>
                        <li>Internal administrative purposes</li>
                    </ul>
                    <p>Our communication with you and the other members will include email via the Internet. We
                    cannot guarantee the confidentiality of information passed over the Internet.
                    Completion and submission of the registration form constitutes explicit consent to the use of
                    your Personal Data in the manner outlined above. If you do not consent to the use of your
                    Personal Data, you will not be able to proceed with your registration. You can at any time
                    request that we stop processing and storing your Personal Data by contacting us
                    at <a href="mailto:hello@marketingkind.org">hello@marketingkind.org</a>. We will then stop our use of your information and will not process it
                    for any purpose. You have a right of access to the Personal Data that you have submitted to us.
                    We warrant that we will only use your Personal Data in compliance with all applicable data
                    protection law and will take appropriate technical and organizational measures against the
                    unauthorized or unlawful processing of Personal Data and against the accidental loss or
                    destruction of, or damage to, your Personal Data.</p>

                    <p>Company Limited by Guarantee Number: 07424533</p>
                    <p>Registered Office: 20-22 Wenlock Road, London, N1 7GU, United Kingdom</p>
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     