{% extends "layout.html" %}

{% block title %} Who we are {% endblock %} 

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-8 medium-8 large-centered medium-centered small-12 columns">
                    <h1 class="pnl__title">Who we are</h1>
                    <p>Pimp My Cause is a web based platform that was created in 2011 by Paul Skinner and Anna Mullenneaux to bring good causes in need of professional marketing support together with professional experts able to contribute their expertise pro bono.</p>

					<p>They knew that pro bono marketing could be beneficial to both the marketers and the causes involved and wanted to make opportunities to get involved in volunteering projects available to anyone in the marketing profession. </p>

					<p>The Pimp My Cause platform works a bit like an online dating agency for great causes to meet talented professionals to help support them. Whether you are a marketing professional looking to donate your expertise to a good cause, apply your skills in a new sector, enjoy a new challenge or enhance the reputation of your business, Pimp my Cause puts highly rewarding challenges within a click of your mouse.</p>

					<p>And if you run a social enterprise, charity, NGO or citizen organization looking to address a social or environmental need, then you will find individuals or teams of professional marketers, including innovators, strategists, communications specialists, graphic designers or even web developers who will help you build the future you envision.</p>

					<p>Paul and Anna are supported in running Pimp My Cause by their web development team, by volunteers and members and by a fantastic team of advisers and ambassadors. </p>
                </div> 
            </div> 
        </div>
    </section> 

{% endblock %}
     