frontend/.sass-cache/
pimpmycause/.env
pimpmycause/pimpmycause/staticfiles/
frontend/node_modules
node_modules
frontend/css/
.DS_Store
pimpmycause/import_user_data.py
pimpmycause/profiles/fixtures/*
pimpmycause/causes_no_html.json
pimpmycause/customer_biographies_no_html.json
pimpmycause/pimpmycause/templates/core/team-challenges.html
pimpmycause/users-no-html.json
pimpmycause/db.sqlite3
*/fixtures/*
**.pyc
venv
.vscode
.cursor
# Testing
.cache
.junit
.tox

# Virtualenv
.venv/
