@import "vendors/foundation";

@import "base/normalize";
@import "base/variables";
@import "base/colours";
@import "base/typography";
@import "base/settings";
@import "base/helpers";

@import "layout/footer";
@import "layout/forms";
@import "layout/header";


@import "utils/mixins";

@import "components/buttons";
@import "components/slider";
@import "components/cubes";
@import "components/social-tile";
@import "components/file-upload";
@import "components/marketer-search";
@import "components/cause-search";
@import "components/adverts";
@import "components/filters";
@import "components/flag";
@import "components/social";
@import "components/news";
@import "components/message-list";
@import "components/challenge";
@import "components/curly-brace";
@import "components/arrow";

@import "pages/home";
@import "pages/generic";
@import "pages/meet-the-team";
@import "pages/profile";
@import "pages/partners";


body {
    margin: 0;
    overflow: auto;

    &.nav--active {
        position: relative;
        height: 100vh;
        overflow-y: hidden;
    }
}

a {
    text-decoration: none;
    font-weight: $font-weight;
}

.content-wrap {
    max-width: $max-width;
    margin: 0 auto;
}

.row {
    max-width: 100%;
}

.profile-img {
    width: 100%;
    height: auto;
}
