/* =================================
   PAGES / CONTACT
   ================================= */

[class^="page"]
{
    @extend .pnl--dark-txt;
    background-color: $white;
    padding-bottom: 6em;

    .pnl__title {
    	color: $purple;
    }
}

.icon--super {
    font-size: 12em;
}