.pnl {
    position: relative;
    padding-bottom: 6em;

    &__title {
        padding: 4rem;
        font-weight: 100;
        font-size: 3em;
        text-align: center;
        color: $white;
        line-height: 1.3em;
        margin: 0;
    }
}

.pnl--light-txt {
    color: $colr-txt;
}

.pnl--dark-txt {
    color: $colr-txt-accent;
}

.pnl-causes, .pnl-marketers, .pnl-marketing, .pnl-signup, .pnl-contact-us, .pnl-talkabout, .pnl-hero  {
    @extend .pnl;
    @extend .pnl--light-txt;
}

.pnl-hero {
    padding-bottom: 0;
}

.pnl-hero {
    background-color: $colr-pnl-hero;

    // TO DO - needs refactor
    .button {
        background-color: $purple;
        max-width: 50%;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width:640px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__cubes, &__text {
        @media (min-width:640px) {
            flex: 1;
            margin-top: 0;
        }
    }

    &__cubes {
        padding: 0;
        
        @media (max-width:640px) {
            margin-top: 2em;
        }
    }
}

.pnl-marketing {
    background-color: $colr-pnl-marketing;
    // increase z-index so that cube rotate doesn't separate triangle from panel
    z-index: 20;

    p {
        font-size: rem-calc(18);
        text-align: center;
    }

    &:before {
        @include triangle (38, $colr-pnl-marketing);
    }
}

.pnl-causes {
    background-color: $colr-pnl-causes;

    &:before {
        @include triangle (38, $colr-pnl-causes);
    }
}

.pnl-marketers {
    background-color: $colr-pnl-marketers;

    &:before {
        @include triangle (38, $colr-pnl-marketers);
    }
}

.pnl-contact-us {
    background-color: $colr-pnl-contactus;
    .pnl__title {
        @extend .pnl--dark-txt;
    }
    &:before {
        @include triangle (38, $colr-pnl-contactus);
    }

}

.pnl-signup {
    background-color: $colr-pnl-signup;

    &:before {
        @include triangle (38, $colr-pnl-signup);
    }
    .button {
        background: $purple;
    }
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $input-txt-height;
    margin: .5em 0;
    padding: 0 .5em;
}

.pnl-talkabout {
    background-color: $colr-pnl-talkabout;

    &:before {
        @include triangle (38, $colr-pnl-talkabout);
    }
}

// ***************
// SUMMARY PANEL
// ***************

$summary-title-height: rem-calc(55);
$summary-info-height: rem-calc(137);

.pnl-summary {
    @extend .pnl;
    background-color: $colr-pnl-summary;

    &:before {
        @include triangle (38, $colr-pnl-summary);
    }

    .pnl__title {
        @extend .pnl--dark-txt;
    }
}

.read-more {
    @include readmore;
}

.summary-boxes li {

    position: relative;
    padding: 0 rem-calc(10);
    overflow: hidden;
    margin-bottom: rem-calc(10);

    .summary-title, .summary-info {
        position: absolute;
        width: calc(100% - #{rem-calc(20)}); //sass interpolation
        left: rem-calc(10);
        text-align: center;
        background-color: $overlay;
        vertical-align: middle;
        text-size: rem-calc(20);
    }

    .summary-title {

        bottom: rem-calc(-1); // to compensate chrome pixel line
        height: rem-calc(50);
        line-height: rem-calc(50);
        z-index: 20;
        transition: background-color .5s, color .5s; // fade in at same rate as summary-info slides up - visual effect

        &:before {
            @include triangle (12, $overlay);
            transition: border-bottom-color .5s; // same visual effect on before triangle
        }

        // to ensure event is activated via hover on desktop and click on mobile device
        &:hover,
        &.click-event{

            + .summary-info {
                transform: translateY(0);  // translate next sibling
            }
        }
    }

    .summary-info {

        bottom: 0;
        padding: rem-calc(10);
        padding-bottom: rem-calc(60); //bottom padding is height of summary title and small triangle
        opacity: 0.9;
        z-index: 10;

        transform: translateY(100%);
        transition: transform .5s;

        &:hover,
        &.click-event{
            transform: translateY(0);  // translate next sibling
        }

        .read-more {
            @include readmore;
        }
    }

}

.summary-title:hover,
.summary-title.click-event {

    color: $overlay;


    .summary-pink & {
        background-color: $pink;
        &:before {
            border-bottom-color: $pink;
        }
    }

    .summary-purple & {
        background-color: $purple;
        &:before {
            border-bottom-color: $purple;
        }
    }

    .summary-green & {
        background-color: $green;
        &:before {
            border-bottom-color: $green;
        }
    }

    .summary-mustard & {
        background-color: $mustard;
        &:before {
            border-bottom-color: $mustard;
        }
    }

}

.type-option {
     margin-bottom: 1.75em;
}

.cont-to-reg {
     padding: 1.25em 2.5em;
}
