/* =================================
   PAGES / MEET THE TEAM 
   ================================= */

$team-individual-img-height: 150px;

.page-team {
    @extend .pnl--dark-txt;
    background-color: $pink;
    padding-bottom: 6em;

    .pnl__title {
    	color: $purple;
    }
}

.team {
	

	&__individual-wrapper {
		text-align: center;
		margin-top: $team-individual-img-height/2;

	}

	&__individual {
		margin: 1em 0;
		box-shadow: 0 2px 2px rgba(0,0,0,.09);
		background-color: #E1E0E7;
		flex: 1;
	}
	&__individual-name {
		color: $pink;
	}

	&__individual-role {
		font-weight: 100;
		font-style: italic;
	}
	
	&__individual-bio {
		display: inline-block;
		vertical-align: top;
		padding: 0 1em;

		p {
			margin-top: 0;
			text-align: left;
		}
	}

	&__individual-img {
		display: inline-block;
		vertical-align: top;
		width: $team-individual-img-height;
		margin-top: -$team-individual-img-height/2;
	}
}
