/* =================================
   PAGES / MEET THE TEAM 
   ================================= */

$team-individual-img-height: 150px;

.page-team {
    @extend .pnl--dark-txt;
    background-color: $pink;
    padding-bottom: 6em;

    .pnl__title {
    	color: $purple;
    }
}

.team {
	
	display: flex;
	
	&__first-column {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 50%;
	}

	&__second-column {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 50%;

	}

	&__individual-wrapper {
		text-align: center;
		margin-top: $team-individual-img-height/2;
		width: 90%;
		margin: 50px auto;
	}

	&__individual {
		margin: 1em 0;
		box-shadow: 0 1px 1px rgba(66, 57, 57, 0.26);
		background-color: #F2F2F2;
	}
	&__individual-name {
		color: $pink;
	}

	&__individual-role {
		font-weight: 100;
		font-style: italic;
	}
	
	&__individual-bio {
		display: inline-block;
		vertical-align: top;
		padding: 0 1em;

		p {
			margin-top: 0;
			text-align: left;
		}
	}

	&__individual-img {
		display: inline-block;
		vertical-align: top;
		width: $team-individual-img-height;
		margin-top: -$team-individual-img-height/2;
	}
}
