/* =================================
   PAGES / Profile
   ================================= */
.profile {
	&__social {
		list-style: none;
		display: inline;
		margin: 0;
		padding: 0;

		&-item {
			display: inline-block;
			margin: 0 5px 0;

            &:first-of-type {
                &::before {
                    content: ' | ';
                    display: inline-block;
                }
            }
		}

		&-icon {
			font-size: 25px;
			color: $green;
		}
	}

}
