/* =================================
   PAGES / REGISTRATION 
   ================================= */

.page-register {
    @extend .pnl--dark-txt;
    background-color: $white;
    padding-bottom: 6em;
    
    .pnl__title {
    	color: $purple;
    }
}

