{% extends "layout.html" %}

{% block title %} Activation Complete {% endblock %} 

{% load static %}


{% block main %} 
    <div class="page-register pnl">
		<div class="content-wrap">
            <div class="row"> 
                <div class="large-12 medium-12 small-12 columns">
               <h1 class="pnl__title">Activated</h1>
                    <div class="large-6 large-centered columns">
                        <p>Welcome to Pimp My Cause. Please start by filling out your profile</p>
                        <a href="{% url 'profile_update'%}" class="button button--primary">Go to my profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}