{% extends "layout.html" %}

{% load static widget_tweaks %}

{% block title %} Reset Password {% endblock %}

{% block main %}
    <div class="page-login pnl">
        <div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Reset Password Form</h1>
                    {% if user.is_authenticated %}
                      <div class="medium-6 large-4 small-12 large-centered small-centered columns">
                      Please change your password <a href="/accounts/password/change">here.</a>
                    </div>
                    {% else %}
                        <div class="large-6 large-centered columns">
                            <p>Please provide your email address and if an account exists we will send you password reset instructions</p>
                            <form class="" role="form" action="" method="POST">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="non-field-errors">
                                    {% for error in form.non_field_errors %}
                                        <p class="form-error text-danger">{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                                {% for field in form %}
                                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <p class="form-error pull-left text-danger">{{ error }}</p>
                                            {% endfor %}
                                        {% endif %}
                                        {% render_field field placeholder=field.label %}
                                    </div>
                                {% endfor %}

                                <button type="submit" class="button button--primary">Reset</button>
                            </form>
                        </div>
                    </div>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

