{% extends "layout.html" %}

{% block title %} Change Password {% endblock %}

{% load static %}

{% block main %}
<div class="page-login pnl">
    <div class="content-wrap">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
		       <h1 class="pnl__title">Done!</h1>
		            <p class="large-6 medium-6 small-12 columns">Your password was changed successfully</p>
		        </div>
		    </div>
		</div>
	</div>
</div>
{% endblock %}



{% block main %}
    <div class="page-login pnl">
		<div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                {% if user.is_authenticated %}

                    {% else %}

                    {% endif %}

                    <h1 class="pnl__title">Log In</h1>
                    <div class="medium-6 large-3 small-12 large-centered small-centered columns">
                        <form method="POST" action="">
                            <div class="row">
                        	   {% csrf_token %}
                        	   {{ form.as_p }}
                            </div>
                            <div class="row">
                                <a href="/accounts/password/reset">Forgot Password</a>                                
                            </div>
                            <div class="row">
                                <input class="button button--primary" type="submit" value="Sign in">
                            </div>
                            <div class="row">
                                <a href="/accounts/register" class="underline txt-right">Not Registered? Start here</a>
                            </div>
                        </form>
                	</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

