{% extends "layout.html" %}

{% block title %} Reset Password Confirmation {% endblock %}

{% load static %}

{% block main %}
<div class="page-login pnl">
    <div class="content-wrap">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <h1 class="pnl__title">Reset Password Confirmation</h1>
                
                <div class="large-9 medium-6 small-12 columns large-centered small-centered medoum-centered">

                <p>Please choose your new password, keep in mind it cannot have personal information, must be at least 8 characters long and cannot be entirely numeric.</p>
                </div>
                <div class="large-3 medium-6 small-12 large-centered small-centered columns">
                    {% if validlink %}
 
                        <form method="POST" action="" class="row">
                            {% csrf_token %}
                                {{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label>
                                {{ form.new_password1 }}

                                {{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label>
                            {{ form.new_password2 }}
                            <input class="button button--primary" type="submit" value="Reset">
                          </form>

                    {% else %}

                        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

