{% extends "layout.html" %}

{% block title %} Complete Reset Password {% endblock %}

{% load static %}

{% block main %}
    <div class="page-login pnl">
        <div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Done!</h1>
                    <div class="large-6 medium-6 small-12 large-centered small-centered columns">
                        <p>You have reset your password successfully! You may go ahead and log in using your new password.</p>
                        <p><a href="{{ login_url }}" class="button button--primary">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

