{% extends "layout.html" %}

{% block title %} Reset Password {% endblock %}

{% load static %}

{% block main %}
    <div class="page-login pnl">
      	<div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Check your email</h1>
                    <div class="medium-6 large-7 small-12 large-centered small-centered columns">
                        <p>We have emailed you instructions to reset your password, if an account exists for the email you provided you should receive them shortly.</p>
                        <p>If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

