{% extends "layout.html" %}

{% block title %} Change Password {% endblock %}

{% load static widget_tweaks %}

{% block main %}
<div class="page-login pnl">
    <div class="content-wrap">
        <div class="row">
            <div class="large-12 medium-12 small-12 columns">
                <h1 class="pnl__title">Change Password</h1>
                    <div class="large-6 large-centered columns">
                    <p>Please make sure your password is at least 8 characters long and contains a mixture of numbers, letters and special characters.</p>
                    <form class="" role="form" action="" method="POST">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="row non-field-errors">
                        {% for error in form.non_field_errors %}
                            <p class="form-error text-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form %}
                        <div class="form-group row {% if field.errors %} has-error {% endif %}">
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="form-error pull-left text-danger">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            {% render_field field placeholder=field.label %}
                        </div>
                    {% endfor %}

                <div class="row">
                    <div class="medium-6 large-4 small-6 columns">
                        <input class="button button--primary" type="submit" value="Change Password">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
