{% extends "layout.html" %}

{% block title %} Reset Password {% endblock %}

{% load static %}

{% block main %}
    <div class="page-login pnl">
		<div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Password Reset</h1>
                        <div class="medium-6 large-3 small-12 large-centered small-centered columns">
                            <form method="POST" action="">
                                <div class="row">
                            	   {% csrf_token %}
                            	   {{ form.as_p }}
                                   {{ form.non_field_errors }}
                                   {{ form.errors }}
                                </div>
                                <div class="row">
                                    <input class="button button--primary" type="submit" value="Continue">
                                </div>
                            </form>
                        </div>
                	</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

