{% extends "layout.html" %}

{% block title %} Reset Password Email Confirmation {% endblock %}

{% load static %}

{% block main %}
    <div class="page-login pnl">
      	<div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Check your email</h1>
                    <div class="large-8 large-centered columns">
                        <p class="centered">We have emailed you instructions to reset your password, if an account exists for the email you provided you should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

