{% extends "layout.html" %}
{% load static widget_tweaks %}

{% block title %} Register {% endblock %}

    {% block main %}
        <div class="page-register pnl">
            <div class="content-wrap">
               <h1 class="pnl__title">Register </h1>
                <div class="row">
                    <div class="large-8 medium-10 small-12 columns large-centered medium-centered">
                        <form method="POST" action="{% url 'registration_register' %}">
                            <div class="row">

                                {% csrf_token %}
                                    {% if form.non_field_errors %}
                                        <div class="non-field-errors columns small-12">
                                        {% for error in form.non_field_errors %}
                                            <p class="form-error text-danger">{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% for field in form %}
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                <div class="non-field-errors columns small-12">
                                                    <p class="form-error pull-left text-danger">{{field.label}}: {{ error }}</p>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                    {% endfor %}
                                    {% for field in form %}
                                        <div class="medium-6 large-6 small-12 form-group columns {% if field.errors %} has-error {% endif %}">
                                            {{ field.label }}{% if field.field.required %} *
                                            {% endif %}
                                            {% render_field field %}
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="row">
                                    <div class="medium-12 large-12 small-12 columns margin-top-30">
                                        <label><input type="checkbox" name="terms" checked="checked" class="margin-right-5 js-terms-conditions">I agree to the <a href="/terms-and-conditions/" class="text-link">Terms &amp; Conditions</a></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-12 large-12 small-12 columns">
                                        <label><input type="checkbox" name="terms" checked="checked" class="margin-right-5">Sign me up for the newsletter</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-6 large-4 small-6 columns margin-top-30">
                                        <input class="button button--primary js-terms-conditions-target" type="submit" value="Register">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
