{% extends "layout.html" %}

{% block title %} Registration Complete {% endblock %} 

{% load static %}

{% block main %} 
    <div class="page-register pnl">
        <div class="content-wrap">
            <div class="row"> 
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Thanks!</h1>
                   	<p class='large-8 large-centered medium-6 small-12 columns text-align-center'>Your registration is not yet complete, please check your email and activate your account by clicking the activation link.</p>
                </div>
            </div>   
        </div> 
    </div>
{% endblock %}
