{% extends "layout.html" %}

{% load static %}


{% block main %} 
    <div class="page-login">
		<div class="content-wrap">
            <div class="row"> 
                <div class="large-12 medium-12 small -12 columns">
                    <h1 class="pnl__title">Register</h1>
        				<form method="POST" class="medium-3 medium-centered columns" action="">
				        {% csrf_token %}
				        {{ form }}
			 			<input type="submit"  class="button" value="Submit" />
				    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}