/*
Error: Incompatible units: 'rem' and 'px'.
        on line 272 of src/sass/vendors/foundation/components/_type.scss, in `@content'
        from line 19 of src/sass/vendors/foundation/_functions.scss, in `exports'
        from line 190 of src/sass/vendors/foundation/components/_type.scss
        from line 6 of src/sass/vendors/foundation/components/_offcanvas.scss
        from line 45 of src/sass/vendors/_foundation.scss
        from line 14 of src/sass/styles.scss

Backtrace:
src/sass/vendors/foundation/components/_type.scss:272:in `@content'
src/sass/vendors/foundation/_functions.scss:19:in `exports'
src/sass/vendors/foundation/components/_type.scss:190
src/sass/vendors/foundation/components/_offcanvas.scss:6
src/sass/vendors/_foundation.scss:45
src/sass/styles.scss:14
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/script/value/number.rb:439:in `coercion_factor'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/script/value/number.rb:360:in `coerce'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/script/value/number.rb:420:in `operate'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/script/value/number.rb:116:in `minus'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/script/tree/operation.rb:82:in `_perform'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/script/tree/node.rb:50:in `perform'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:299:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:382:in `block (3 levels) in visit_content'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:382:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:382:in `block (2 levels) in visit_content'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:381:in `block in visit_content'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:377:in `visit_content'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:299:in `block (2 levels) in visit_if'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:299:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:299:in `block in visit_if'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:298:in `visit_if'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:364:in `block (4 levels) in visit_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:364:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:364:in `block (3 levels) in visit_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:364:in `block (2 levels) in visit_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:359:in `block in visit_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:98:in `with_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:347:in `visit_mixin'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:412:in `run'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/Users/lk/.rvm/gems/ruby-2.1.1/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
/Users/lk/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/lk/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/lk/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/lk/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Incompatible units: 'rem' and 'px'.\A         on line 272 of src/sass/vendors/foundation/components/_type.scss, in `@content'\A         from line 19 of src/sass/vendors/foundation/_functions.scss, in `exports'\A         from line 190 of src/sass/vendors/foundation/components/_type.scss\A         from line 6 of src/sass/vendors/foundation/components/_offcanvas.scss\A         from line 45 of src/sass/vendors/_foundation.scss\A         from line 14 of src/sass/styles.scss"; }
