/* =================================
   LAYOUT / NAV
   ================================= */

.main-menu {
    flex: auto;
    display: inline-block;
    ul {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: 1em;
        li {
            display: inline-block;
            flex: 2 2 auto;
            text-align: center;
            padding:.5em;
        }

    }

    .has-dropdown:hover {
        background: #4E1B4E;
        .dropdown {
            display: block;
        }
        
    }

    .dropdown {
        display: none;
        position: absolute;
        margin-left: -.5em; 
        z-index:21;
        
        li {
            display: block;
            text-align: left;
            padding: .5em;
            background: $purple;
            padding-left: 1em;
            padding-right: 2em;
            &:hover {
                background: #4E1B4E;

            }
        }
    }

    &__username {
        color: $white;
        font-weight: bold;
        text-decoration: underline;
        text-align: right;
        margin-bottom: 0;
    }

}

