/* =================================
   UTILS / RESPONSIVE
   ================================= */


// ******************************************************
// SMALL - max-width 640px, mobile styles
// ******************************************************

@media #{$small-up} {
    
    // LOGO
    // ====
    
     .logo-mob {
        margin-left: rem-calc(15);
        margin-top: rem-calc(10);
        width: 45%;
    } 
    
    // HERO PANEL
    // ==========

    
    // add space below register with social media on LHS of hero panel at mobile size
    .h4-hero-socialregister {
    
        h4 {

            padding-bottom: rem-calc(15);
        }
    }
    
    .hero-continue {
    
        .button {

            margin-top: rem-calc(20); 
        }
    }    
    
 
} // end media query small-up


// ******************************************************
// MEDIUM - min-width 641px and max-width 1024px, tablet
// ******************************************************

@media #{$medium-up} {
    
    // LOGO
    // ====
    
    .logo {
        position: absolute;
        top: 37%;
        left: rem-calc(25);
        width: 13%;
    }  

    // NAVIGATION
    // ==========

    .top-bar {
        top: 65.5%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    // http://stackoverflow.com/questions/13092143/prevent-css-horizontal-drop-down-menu-from-wrapping
    .top-bar-section {
        > ul {
            white-space: nowrap;
            > li {
                display: inline-block;
                float: none;
            }
        }
    }
    
    // SOCIAL | SIGNIN | REGISTER
    // ==========================

    .header-social-icons {  
        visibility: hidden;
    }
    .header-sign-in {
        .button {
            position: absolute;
            top: rem-calc(15);
            right: rem-calc(25);
            padding: 0.25rem 1rem 0.3125rem 1rem;
            width: 7rem;
            font-size: rem-calc(17);
        }   
    }
    .header-register { 
        visibility: hidden;  
    }

}


// **************************************************************************
// LARGE: 1025px - 1440px,  X-LARGE: 1441px - 1920px,  XX-LARGE: 1921px - ...
// **************************************************************************

@media #{$large-up} {
    
    // LOGO
    // ====
    
    .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 15%;
    } 
    
    // NAVIGATION
    // ==========
    
    .top-bar {
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        left: 51%;
        width: auto;
    }
    
    .top-bar-section {
        > ul {
            > li {
                a {
                    padding: 0 10% !important;
                }
            }
        }
    }
    
    // SOCIAL | SIGNIN | REGISTER
    // ==========================

    .header-social-icons {
        visibility: visible;
    }
    .header-sign-in {
        .button {
            position: inherit;
            padding: 0.75rem 1.5rem 0.8125rem 1.5rem; 
            width: 8.5rem;
            font-size: rem-calc(18);
        }    
    }
    .header-register {
        visibility: visible;
    }
    
    // HERO PANEL
    // ==========
        
    .h2-hero {
    
        div {
            white-space: nowrap;
        }
    }
            
}