@import "vendors/foundation";

@import "base/normalize";
@import "base/variables";
@import "base/colours";
@import "base/typography";
@import "base/settings";
@import "base/helpers";

@import "layout/footer";
@import "layout/forms";
@import "layout/header";


@import "utils/mixins";

@import "components/buttons";
@import "components/slider";
@import "components/cubes";
@import "components/twitter";
@import "components/social-tile";
@import "components/file-upload";
@import "components/marketer-search";
@import "components/cause-search";
@import "components/adverts";

// Social Icons
@import "components/social";

@import "pages/home";
@import "pages/generic";
@import "pages/meet-the-team";
@import "pages/profile";
@import "pages/partners";


body {
    font-family: $open-sans;
    font-weight: $font-weight;
}

a {
    text-decoration: none;
    font-weight: $font-weight;
}

.content-wrap {
    max-width: $max-width;
    margin: 0 auto;
}

.row {
    max-width: 100%;
}

.profile-img {
    width: 100%;
    height: auto;
}

.file-link {
    display: none;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}