@import "base/normalize";
@import "base/variables";
@import "base/colours";
@import "base/typography";
@import "base/settings";

@import "vendors/foundation";

@import "layout/footer";
@import "layout/forms";
@import "layout/header";

@import "utils/mixins";

@import "components/buttons";
@import "components/slider";
@import "components/cubes";
@import "components/twitter";
@import "components/social-tile";
@import "components/social-icon";
@import "components/file-upload";

@import "pages/home";
@import "pages/generic";
@import "pages/meet-the-team";


body {
	font-family: $open-sans;
	font-weight: $font-weight;
}

a {
    text-decoration: none;
    font-weight: $font-weight;
}

.content-wrap {
	max-width: $max-width;
	margin: 0 auto;
}

.row {
	max-width: 100%;
}

.profile-img {
	width: 100%;
	height: auto;
}

.centered {
	text-align: center;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}