@import "base/normalize";
@import "base/variables";
@import "base/colours";
@import "base/typography";
@import "base/settings";

@import "vendors/foundation";

@import "layout/footer";
@import "layout/forms";
@import "layout/header";
@import "layout/nav";

@import "utils/mixins";

@import "components/buttons";
@import "components/slider";
@import "components/cubes";
@import "components/twitter";
@import "components/social-tile";

@import "pages/home";
@import "pages/generic";
@import "pages/meet-the-team";


body {
	font-family: $open-sans;
	font-weight: $font-weight;
}

a {
    text-decoration: none;
    font-weight: $font-weight;
}

.content-wrap {
	max-width: $max-width;
	margin: 0 auto;
}

.row {
	max-width: 100%;
}

