/* =================================
   LAYOUT / FOOTER
   ================================= */

.footer {
    background-color: $colr-pnl-footer;
    width: 100%;
    color: $colr-txt;
    text-align: center;
    padding: 2em 0;
    text-transform: uppercase;
    font-size: .7em;
    color: $colr-footer;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: inline-block;

        }
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @media only screen and (min-width: 720px) {
            flex-direction: row;
        }
    }

    &__logo {
        width: 5em;
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;

        @media only screen and (min-width: 720px) {
            display: inline;
            margin-bottom: 0;

        }
    }

    &__link {
        color: $colr-footer;
        margin-right: 15px;
    }

    &__legal {
        text-align: left;

        p {
            display: inline;
            color: $colr-footer;
        }
    }


    &__social {
        display: block;
        margin: 0 auto;
        margin-top: 16px;

        a {
            margin: 1px;
        }

        svg {
            width: 15px;
            height: 15px;
        }

        @media only screen and (min-width: 720px) {
            display: inline;
            margin-top: 0;
        }
    }

    &__info {

        @media only screen and (min-width: 720px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }
    }


    &__legal,
    &__info {
        flex: 1 0 auto;
    }
}
