// =================================
//   LAYOUT / FORMS
// =================================


$input-txt-height: rem-calc(52);

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="number"],
input [type="submit"],
select {
    width: 100%;
    margin: .5em 0;
	padding: .5em .8em;
    font-size: 1em;
    font-weight: 100;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

textarea {
    width: 100%;
    margin: .5em 0;
	padding: .5em;
    font-size: 1em;
    font-weight: 100;
    text-align: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

select {
	-webkit-appearance: none;
	background: url("https://s3-eu-west-1.amazonaws.com/pimpmycause-images/custom-icons/chevron-down.svg") no-repeat right center;
	background-color: $white;
    background-position-x: 95%;
    background-size: 16px;
	border-radius: 0;
}

form {
    p {
        margin-top: 0;
    }
}

form {
    label {
        font-weight: 400;
    }
}

.has-error > select,
.has-error > input,
.has-error > textarea,
.has-error > img {
    border: 1px red solid !important;
}

.form-group {
    margin-bottom: 1rem;
}

.form-error {
    font-size: .9em;
    margin: 0;
}

.text-danger {
    color: $red;
}

.errorlist  {
    padding: 0;
    margin: 0;
    display: block;

    li {
        color: red;
        line-height: 1em;
        line-height: .6em;
        font-size: .7em;
        list-style: none;
    }
}
