/* =================================
   LAYOUT / HEADER
   ================================= */
.navigation {
	background-color: $purple;

	&__link,
	p {
        color: $white;
		display: inline-block;
		margin: 0;
    }

    &__wrap {
		width: 100%;
		display: block;
		padding: 1em 0;

    	@media (min-width: 900px) {
	    	display: flex;
	    	flex-direction: row;
	    	flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
		}
	}
	
	&__logos {
		text-align: left;
	}

    &__header {
        display: flex;
		flex-direction: column;
		flex: 2 0 auto;

		@media (max-width: 900px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		    text-align: right;
		}
	}
	
	&__footer {
		display: flex;
		align-items: flex-end;
		line-height: 2.8em;
		text-align: left;
		font-size: .8em;
		color: $white;
	
		@media (max-width: 641px) {
			font-size: .5em;
		}
	}

    &__dropdown {
	        display: none;
	        position: absolute;
	        margin-left: -.5em;
	        z-index:21;
	        padding: 0;

	        li {
	            display: block;
	            text-align: left;
	            padding: .5em;
	            background: $purple;
	            padding-left: 1em;
	            padding-right: 2em;
	            &:hover {
	                background: #4E1B4E;

	            }
	        }
	    }

    &__username,
    &__email {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-align: right;
        margin-bottom: 0;
        padding-right: .2em;
    }

    &__email {
        position: relative;

        &--unread {
            padding: 2px;
            font-size: 0.6em;
            background: $red;
            position: absolute;
            top: -6px;
            right: -5px;
            border-radius: 3px;
        }

    }

    &__list {
        margin: 0;
        padding: 0;
        display: inline-block;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-left: .5em;
    }

    &__item {
        display: inline-block;
        flex: 1 0 auto;
        text-align: center;
        padding: .5em;


        &:hover {
            background: #542854;
        }
    }

    &__menu--mobile &__item {
        border-top: solid 1px #694a69;
    }

	&__menu--mobile &__toggle {
        height: 0;
        background: transparent;

		&:before,
        &:after {
			content: '';
			position: absolute;
			top: 0px;
			height: 1px;
			background-color: currentColor;
        }

        &:before {
  			-webkit-transform: rotate(-45deg);
        	transform: rotate(-45deg);
        }

		&:after {
  			-webkit-transform: rotate(45deg);
        	transform: rotate(45deg);
        }
    }


	&__menu--mobile {
		display: block;
		min-height: 100vh;
	    width: 100%;
	    position: fixed;
	    top: 0;
	   	transition: top 0.2s;
	    bottom: 0;
	    right: 0;
	    margin: 0;
	    z-index: 1000;
        overflow: scroll;
		list-style: none;
		margin: 0;
		background-color: $purple;
		border-top: 1px solid $white;

        .navigation__menu {
            display: block;
			border-top: 1px solid $white;
        }

		li,
		ul {
			display: block;
			margin: 0;
			padding: 0;
			text-align: center;
			position: relative;

			p {
				display: none;
			}
		}

		.navigation__link {
			padding: 13px 23px;
		}

	   	li {
	        text-transform: uppercase;
	    }

        .navigation__menu--hide-large {
            display: block;
            border-top: 1px solid $white;
        }
	}

	&__menu {
		display: none;
        margin: 0 auto;

        &--hide-large {
            display: none;
        }

	   	@media (min-width: 900px) {
			flex: auto;
		    display: inline-block;
		    text-align: right;
		}
	}

	&__button {
		position: relative;
	    border: none;
	    border-radius: 0;
	    background: 0 0;
	    width: auto;

        &:hover {
            opacity: initial;
        }

        @media (min-width: 900px) {
            display: none;
        }
	}

	&__toggle {
        width: 20px;
        margin: 8px 0;
        height: 2px;
        pointer-events: none;
        display: inline-block;
        position: relative;
        background-color: currentColor;
        transition: all ease 100ms;

		&:before {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            border-top: 2px solid #fff;
            transition: all ease 200ms;
            transform-origin: 10px;
            top: 16px;
		}

		&:after {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            border-top: 2px solid #fff;
            transition: all ease 200ms;
            transform-origin: 10px;
            bottom: -8px;
		}
	}

	&__menu--has-dropdown {
        display: inline-block;
        flex: 1 0 auto;
        text-align: center;
        padding: .5em;

		&:hover{
	        background: #4E1B4E;

			.navigation__dropdown {
				display: block;
			}

		}
	}

	&__login {
		display: none;

		&-social {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}

		.button {
			margin: .5em 0;
		}

		@media (min-width: 900px) {
			display: inline-block;
			text-align: right;
			display: flex;
			flex-direction: column;
		}
	}

	&__register,
	&__logout {
		text-align: right;
		font-size: .8em;
		color: $white;
		border-radius: 50%;
		display: inline;
	}

	&__linked-logo {
		flex: 1 0 auto;
		display: inline-block;
		max-width: 4em;
	
		img {
			width: 100%;
			padding: 1em 0;
		}
	
		@media (min-width: 641px) {
			max-width: 7em;
		}
	}
	&__mklogo-container {
		margin-left: .5em;
	
		img {
			height: 2.8em;
		}
	}
}