{% extends "layout.html" %}

{% load static widget_tweaks %}

{% block title %} Add new Help Wanted Ad {% endblock %}

{% block main %}
    <section class="pnl pnl--dark-txt row">
        <div class="content-wrap">
            <div class="medium-12 large-12 small-10 large-centered small-centered columns margin-top-45">
                <div class="row">
                    <h1 class="pnl__title">{{ advert.title }}</h1>
                    <article class="large-10 medium-9 small-12 columns small-centered margin-top-30 margin-bottom-30 clearfix">
                        <div class="cause__wrapper">
                            <div class="small-12 medium-3 columns">
                                {% if advert.deadline %}
                                    <h4 class="h4 cause__title">
                                        <i class="fa fa-calendar margin-right-5" aria-hidden="true"></i>
                                        {{ advert.deadline|date:"M d, Y"  }}
                                    </h4> 
                                {% endif %}
                            </div>
                            <div class="small-12 medium-9 columns">
                                <h2 class="cause__title">{{ advert.title | title }}</h2>
                                <h3 class="cause__title">Description</h3>
                                {% if advert.description %}
                                    <p class="cause__text">{{ advert.description | title }}</p>
                                {% else %}
                                    <p class="helptext margin-top-0">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                        {{ profile_user.causeprofile.cause_name | title }} is yet to share this information.
                                    </p>                                            
                                {% endif %}
                                <h3 class="cause__title">Skills Required</h3>

                                {% if advert.skills.all|length %}
                                    <ul class="unstyled-list text-align-left">
                                        {% for skill in advert.skills.all%}
                                            <li>{{ skill | title }}</li>
                                        {% endfor %}
                                    </ul>

                                {% else %}
                                    <p class="helptext margin-top-0">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                        {{ advert.cause_profile | title }} is yet to share this information.
                                    </p>                                            
                                {% endif %}
                                <p class="helptext margin-top-30 margin-bottom-30 padding-bottom-30">
                                    <i class="fa fa-clock-o margin-right-5" aria-hidden="true"></i>
                                    Posted on {{ advert.created_at|date:"M d, Y"  }}
                                </p> 
                                {% if user.causeprofile == advert.cause_profile %}
                                    <div class="small-12 medium-9 columns text-align-left margin-bottom-30">
                                        <div class="row">
                                            <a href="{% url 'advert_edit' advert_id=advert.id  %}" class="button button--secondary "><i class="fa fa-pencil margin-right-5" aria-hidden="true"></i>Edit</a>
                                            <a href="{% url 'advert_delete' advert_id=advert.id  %}" class="button button--danger"><i class="fa fa-trash margin-right-5" aria-hidden="true"></i>Delete</a>
                                        </div>
                                    </div>                                                
                                {% else %}
                                    <a href="TODO" class="button button--primary margin-top-15">Message {{ profile_detail_form.name.value }}</a>
                                {% endif %}
                            </div> 
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}