/* =================================
   COMPONENTS / BUTTONS
   ================================= */

.button {
    border-radius: 1em;
    background-color: $pink;
    text-align: center;
    line-height: 2em;
    padding:.5em;
    width: 100%;
    font-weight: 100;
    font-size: 1em;
}