/* =================================
   COMPONENTS / BUTTONS
   ================================= */

.button,
button {
    text-align: center;
    display: inline;
    border-radius: 2em;
    width: auto;
    margin: .5em 0;
    padding: .5em 2.3em;
    font-size: 1em;
    font-weight: 100;
    color: $white; 

    a {
        color: $white;
    }
}

.button--primary {
    background-color: $pink;
    border: 1px solid $pink;

}

.button--secondary {
    background-color: $purple;
    border: 1px solid $purple;
}

.button--unstyled {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.button--transparent {
    background-color: transparent;
    border: 0;
    padding: 0;
    border: 1px solid white;
    padding: .3em .6em;
}