/* =================================
   COMPONENTS / SLIDER
   ================================= */

$num_of_slides: 3; // # of images
$time_per_slide: 5; // seconds per slide
$total_time: $time_per_slide * $num_of_slides; //total time needed for all images to display

.slider {
    position: relative;
    height: 20em;
    
    &__slide {
        width: 100%;
        background: #F1F1F1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 20em;
        position: absolute;
        animation: slide-fade #{$total_time}s infinite;
        opacity:1;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &__img {
        display: inline-block;
        height: 100%;
        flex: 1;
        background-size: cover;
        background-position: center center;
    }

    &__link {
        color: $purple;
        font-weight: bold;

        &::after {
            content: '→';
        }
    }

    &__text {
        padding: 1em;
        display: inline-block;
        flex: 2;
    }

    &__paragraph {
        text-align: left;
        color: #3c3c3c;    
    }
    &__title {
        text-align: left;
        color: #3c3c3c;    
    }
}

@keyframes slide-fade {
    0% {
        opacity: 1;
    }
    26.6666666667% {
        opacity: 1;
    }
    33.3333333333% {
        opacity: 0;
    }
    93.3333333333% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@for $index from 1 to $num_of_slides + 1 {
    .slider__slide:nth-child(#{$index}){
        animation-delay:#{$total_time - $time_per_slide * $index}s
    }
}