/* =================================
   COMPONENTS / SOCIAL TILE
   ================================= */

$social-title-height: rem-calc(74);

.social-tile {
    flex: 1;
    margin: 1em;
    background-color: $colr-social-tile-bg;
    display: flex;
    flex-direction: column;
    min-height: 808px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 10em;

        @media only screen and (min-width: 550px) {
            flex-direction: row;
        }

    }

    &__body {
        flex: auto;
        padding: rem-calc(18);


        > p {
            color: $colr-slider-text;
        }
    }

    &__title {
        max-height: $social-title-height;
        line-height: $social-title-height;
        background-color: $colr-social-tile-title;
        text-align: center;
        margin: 0;
        flex: 1;
        align-items: flex-end;
        color: $colr-txt;
        font-weight: bold;
    }

}
