/* =================================
   COMPONENTS / SOCIAL ICONS
   ================================= */

.social-icon {
  display: block;
  
  svg {
    width: 15px;
    height: 15px;
  }

  path {
    transition: fill 0.2s ease-in-out;
    fill: $white;
  }

  &:hover,
  &:active,
  &:focus {
    path {
      fill: $grey;
    }
  }
}

.twitter {
  path {
    fill: #4099FF;
  }
}

.facebook {
  path {
    fill: #3b5998;
  }
}

.linkedin {
  path {
    fill: #0077b5;
  }
}