/* =================================
   PAGES / LOGIN 
   ================================= */

.page-login {
    @extend .pnl-dark-txt;
    padding-top: rem-calc(65); 
    padding-bottom: rem-calc(40);
    background-color: $white;
}