{% extends "layout.html" %}

{% block title %} Meet the team {% endblock %} 

{% load static %}

{% load core_filters %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">500 - Server error</h1>
                    <div class="text-align-center">
                        <p>Something went wrong. If the issue persists please contact us and let us know.</p>
                    </div>
                </div> 
            </div> 
        </div>
    </section>
{% endblock %}
     