{% load render_bundle from webpack_loader %}

{% load static %}

<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{% block title %} {% endblock %}| Pimp My Cause</title>
        <!--Meta Data-->
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="created" content='1st October 2016 04:37' />
        <meta name="description" content="Pimp My Cause: Marketing volunteering - pro bono marketing for charities and social enterprises." />
        <meta name="keywords" content="Marketing, pro bono, volunteer, web development, charities volunteering" />
        <meta name="author" content="Pimp My Cause in partnership with Women Hack for Non-Profits" />
        <meta name="copyright" content="All text content and images copyright Pimp My Cause" />
        <meta name="company" content="Pimp My Cause" />

        <!--Twitter-->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@pimpmycause" />

        <!-- Latest compiled and minified CSS -->   
        {% render_bundle 'main' 'css' %}
        <link rel="shortcut icon" href="{% static "images/homepage/favicon.png" %}" type="images/x-icon">
        <!-- Thirdparty-->   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.tiny.cloud/1/fpmhv9smeisryqnvle7ytw7hzgt9eves9nd9eiksurh2cxlm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        
        {{ form.media }}
    </head>
    <body>
   
        {% block layout %} {% endblock %}
        <!-- Latest compiled and minified JavaScript -->
        {% render_bundle 'main' 'js' %}

        {% if not debug and not request.user.is_staff %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119147679-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119147679-1');
        </script>
        {% endif %}
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script async type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59b3d438cd8c7e0012a72571&product=inline-share-buttons"></script>
    </body>
</html>