{% extends "layout.html" %}

{% block title %} Home {% endblock %}
{% block description %} Marketing volunteering - pro bono marketing for charities and social enterprises. {% endblock %}

{% load static %}


    {% block main %}
        <!-- ********** -->
        <!-- HERO PANEL -->
        <!-- ********** -->

        <section class="pnl-hero">
            <div class="content-wrap">
                <div class="pnl-hero__container large-12">
                    <div class="pnl-hero__text large-6 small-12 medium-12 columns pnl--light-txt padding-bottom-30"">
                        <h1 class="pnl--light-txt text-align-left">Join Us</h1>
                        <p class="h4 text-align-left margin-top-0">Start your pro bono marketing project today</p>
    
                        <div class="row">
                            <form method="GET" action="{% url 'registration_register' %}" class="large-6 medium-6 small-8">
                                <select name="usertype" placeholder="Usertype" id="id_usertype">
                                      <option value="0">Marketer</option>
                                      <option value="1">Cause</option>
                                    </select>
                                <button class="button button--secondary" type="Submit">Continue</button>
                            </form>
                        </div>
                    </div>

                    <nav class="pnl-hero__cubes large-6 medium-12 small-12 columns">
                        <ul class="unstyled-list">
                            <li class="cube-row">
                                <ul class="unstyled-list">
                                    <div class="cube-wrapper">
                                        <div class="cube flip-to-top">
                                            <div class="default-state"> <!-- front facing div to start -->
                                                <div class="img-wrapper">
                                                    <img src="{% static "images/homepage/cube1-marketer-pic.png" %}" alt="Image of Marketer" role="presentation">
                                                </div>
                                            </div> <!-- end default-state -->
                                            <div class="active-state cube-icon-txt"> <!-- Step 1: move div to top side of cube -->
                                                <a href="{% url 'search_marketer' %}">
                                                    <img src="{% static "images/homepage/cube1-marketer-icon.png" %}" alt="Logo for Marketer" role="presentation">
                                                    <h3 class="h4 uppercase cube__title">Find a Marketer</h3>
                                                </a><!-- end link -->
                                            </div>
                                        </div> <!-- end cube flip-to-top-->
                                    </div> <!-- end cube-wrapper -->


                                    <!-- CUBE top right - Story -->
                                    <div class="cube-wrapper">
                                        <div class="cube flip-to-top">
                                            <div class="default-state cube-icon-txt"> <!-- front facing div to start -->
                                                <a href="/who-we-are">
                                                    <img src=" {% static "images/homepage/cube2-story-icon.png" %}" alt="Logo for Story" role="presentation">
                                                    <h3 class="h4 uppercase cube__title">Our Story</h3>
                                                </a><!-- end link -->
                                            </div>
                                            <div class="active-state"> <!-- Step 1: move div to top side of cube -->
                                                <div class="img-wrapper">
                                                    <img src=" {% static "images/homepage/cube2-story-pic.png" %}" alt="Image of Story" role="presentation">
                                                </div>
                                            </div>
                                        </div> <!-- end cube flip-to-top -->
                                    </div> <!-- end cube-wrapper -->
                            </li> <!-- end cube-row - top row -->

                            <!-- BOTTOM ROW -->
                            <li class="cube-row">
                                <ul class="unstyled-list">
                                    <li class="cube-wrapper">
                                        <div class="cube flip-to-top">
                                            <div class="default-state cube-icon-txt"> <!-- front facing div to start -->
                                                <a href="{% url 'news_post_list' %}">
                                                    <img src=" {% static "images/homepage/cube3-news-icon.png" %}" alt="Logo for News" role="presentation">
                                                    <h3 class="h4 uppercase cube__title">News</h3>
                                                </a><!-- end link -->
                                            </div> <!-- end default-state -->
                                            <div class="active-state"> <!-- Step 1: move div to top side of cube -->
                                                <div class="img-wrapper">
                                                    <img src=" {% static "images/homepage/cube3-news-pic.png"  %}" alt="Image of News" role="presentation">
                                                </div>
                                            </div> <!-- end active-state -->
                                        </div> <!-- end cube flip-to-top-->
                                    </li> <!-- end cube-wrapper -->


                                    <li class="cube-wrapper">
                                        <div class="cube flip-to-top">
                                            <div class="default-state"> <!-- front facing div to start -->
                                                <div class="img-wrapper">
                                                    <img src=" {% static "images/homepage/cube4-cause-pic.png" %}" alt="Image of Cause" role="presentation">
                                                </div>
                                            </div>
                                            <div class="active-state cube-icon-txt"> <!-- Step 1: move div to top side of cube -->
                                                <a href="{% url 'search_cause' %}">
                                                    <img src=" {% static "images/homepage/cube4-cause-icon.png" %}" alt="Logo for Cause" role="presentation">
                                                    <h3 class="h4 uppercase cube__title">Find a Cause</h3>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>


        <!-- *************** -->
        <!-- MARKETING PANEL -->
        <!-- *************** -->

        <section class="pnl-marketing pnl">
            <div class="content-wrap">
                 <div class="row">
                    <div class="large-12 columns">
                        <h1 class="pnl__title">Marketing a better world</h1>
                        <div class="large-8 medium-8 large-centered medium-centered columns">
                            <p class="pnl--light-txt">The Pimp My Cause platform brings together thousands of charities and social enterprises with professional marketers including innovators, strategists, advertisers, graphic designers, web developers, PR specialists and researchers who can provide transformational support pro bono.</p>
                            <p class="pnl--light-txt">Whether you are a cause in need of marketing or a marketer looking to diversify your experience, make new connections, showcase your talent or give something back, registration is fast and free.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% if featured_cause_list|length == 3 %}

            <!-- ********************* -->
            <!-- FEATURED CAUSES PANEL -->
            <!-- ********************* -->

            <section class="pnl-causes pnl">
                <div class="content-wrap">
                    <div class="row">
                        <h1 class="pnl__title">Featured Causes</h1>
                        <div class="large-12 columns">
                            <div class="slider">
                                 {% for cause in featured_cause_list %}
                                    <div class="slider__slide">
                                        <div class="slider__text">
                                            <h3 class="slider__title">{{ cause.causeprofile.cause_name | title}}</h3>
                                            <div class="slider__paragraph">
                                                <h5 class="text-align-left">{{ cause.causeprofile.get_category_display| title }}</h5>
                                                <p class="slider__paragraph">{{ cause.causeprofile.mission | truncatechars:200 | title }}...</p>
                                                <a href="{% url 'profile_detail' user_id=cause.id %}" class="slider__link">See {{ cause.causeprofile.cause_name | title }}'s profile</a>
                                            </div>
                                        </div>
                                         {% if cause.image %}
                                            <div class="slider__img hide-for-small-only" style="background-image: url({{ cause.image }})">
                                            </div>
                                        {% else %}
                                         <div class="slider__img hide-for-small-only" style="background-image: url({% static "images/placeholder/cause-default-image.png" %})">
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if featured_marketer_list %}

            <!-- *************** -->
            <!-- MARKETERS PANEL -->
            <!-- *************** -->
            <section class="pnl-marketers pnl">
                <div class="content-wrap">
                    <div class="row">
                        <h1 class="pnl__title">Featured Marketers</h1>
                            <div class="large-12 columns">
                                <div class="slider">

                                    {% for marketer in featured_marketer_list %}
                                        <div class="slider__slide">
                                            {% if marketer.image %}
                                                <div class="slider__img hide-for-small-only" style="background-image: url({{ marketer.image }})">
                                                </div>
                                            {% else %}
                                             <div class="slider__img hide-for-small-only" style="background-image: url({% static "images/placeholder/marketer-default-image.png" %})">
                                            </div>
                                            {% endif %}
                                            <div class="slider__text">
                                                <h3 class="slider__title">{{ marketer.name | title}} {{ marketer.surname | title}}</h3>
                                                <div class="slider__paragraph">
                                                    <h5 class="text-align-left slider__subtitle margin-top-0">{{ marketer.position | title }}</h5>
                                                    <p>{{ marketer.bio | truncatechars:200 | title }}...</p>
                                                    <a href="{% url 'profile_detail' user_id=marketer.id %}" class="slider__link">See {{ marketer.name | title }}'s profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        {% endif %}


        <!-- ******************************* -->
        <!-- SUMMARY - HAVE YOU SEEN - PANEL -->
        <!-- ******************************* -->

        <section class="pnl-summary pnl--dark-txt">
            <div class="content-wrap">
                <div class="large-12 columns">
                    <h1 class="pnl__title">Have You Seen</h1>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <ul class="small-block-grid-2 large-block-grid-4 summary-boxes">
                            <li class="summary-pink">
                                <a href="{% url 'how_it_works' %}">
                                    <img class="summary-img" src={% static "images/homepage/summary1-how-it-works.png" %} alt="How it works">
                                </a>
                                <div class="summary-title">How it works</div>
                                 <div class="summary-info">
                                    <p>The Pimp My Cause web platform is free for both marketers and causes…<a href="{% url 'how_it_works' %}" class="read-more">Read more</a></p>
                                </div>
                            </li>
                            <li class="summary-purple">
                                <a href="{% url 'team' %}">
                                    <img class="summary-img" src={% static "images/homepage/summary2-meet-team.png" %} alt="Meet the Team">
                                </a>
                                <div class="summary-title">Meet the team</div>
                                 <div class="summary-info">
                                    <p>Paul created Pimp My Cause and has led the platform to creating over £20 million of social value, making pro bono marketing accessible…<a href="{% url 'team' %}" class="read-more">Read more</a></p>
                                </div>
                            </li>
                            <li class="summary-green">
                                <a href="{% url 'become_a_partner' %}">
                                    <img class="summary-img" src={% static "images/homepage/summary3-challenges.png" %} alt="Challenges">
                                </a>
                                <div class="summary-title">Challenges</div>
                                <div class="summary-info">
                                    Challenges build marketing teams that accomplish more with less by fostering a team’s purposefulness, creativity and collaboration…<a href="{% url 'become_a_partner' %}" class="read-more">Read more</a>
                                </div>
                            </li>
                            <li class="summary-mustard">
                                <a href="{% url 'become_a_partner' %}#our-partners">
                                    <img class="summary-img" src={% static "images/homepage/summary4-partners.png" %} alt="Partners">
                                </a>
                                <div class="summary-title">Our partners</div>
                                <div class="summary-info">
                                    Pimp My Cause creates bespoke partnerships that are good for business, good for our causes and help us to scale our impact…<a href="{% url 'become_a_partner' %}" class="read-more">Read more</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- **************** -->
        <!-- TALK ABOUT PANEL -->
        <!-- **************** -->

        <section class="pnl-talkabout">
            <div class="content-wrap">
                <div class="row"> <!-- ROW Talk About Panel -->
                    <div class="large-12 columns">
                        <h1 class="pnl__title">What we are talking about</h1>
                    </div>
                    <div class="social-tile__wrapper margin-bottom-30">
                        <div class="social-tile">
                            <div class="social-tile__body">
                                {% for post in news_post_list %}
                                    <article class="margin-bottom-30">
                                        <h1 class="text-align-left h4 margin-top-0">{{ post.title | title }}</h1>
                                        <p class="social-tile__paragraph">{{ post.intro | safe | truncatechars:250 }}</p>
                                        <a href="{% url 'news_post_detail' slug=post.slug %}" class="text-link">Read More</a>
                                    </article>
                                {% endfor %}
                            </div>
                            <h4 class="social-tile__title pnl--light-txt">Latest News</h4>
                        </div>
                        <div class="social-tile">
                            <div class="social-tile__body">
                                <!-- tweets from pimp my cause -->
                                <a class="twitter-timeline" data-lang="en" data-link-color="#dc0e54" data-height="320" data-tweet-limit="3" href="https://twitter.com/pimpmycause">Tweets by @pimpmycause</a> 
                            </div>
                            <h4 class="social-tile__title pnl--light-txt">Latest Tweets</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- **************** -->
        <!-- CONTACT US PANEL -->
        <!-- **************** -->

        <section class="pnl-contact-us pnl--dark-txt">
            <div class="content-wrap">
                 <div class="row">
                    <div class="large-12 medium-12 small-12 columns">
                        <h1 class="pnl__title">Contact Us</h1>
                            <form method="POST" action="//formspree.io/help@pimpmycause.org">
                                <input type="hidden" name="_subject" value="New Submission: Pimp My Cause Contact Form"/>
                                <input type="text" name="_gotcha" style="display:none"/>

                                <div class="medium-6 large-6 small-12 large-centered small-centered columns">
                                    <div class="row">
                                        <div class="medium-6 large-6 small-12 columns">
                                            <input type="text" name="fname" placeholder="First Name" required>
                                        </div>
                                        <div class="medium-6 large-6 small-12 columns">
                                            <input type="text" name="sname" placeholder="Surname" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="medium-6 large-6 small-12 columns">
                                            <input type="email" name="email" placeholder="Email Address" required>
                                        </div>
                                        <div class="medium-6 large-6 small-12 columns">
                                            <input type="tel" name="phone" placeholder="Telephone (optional)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="medium-12 large-12 small-12 columns">
                                            <textarea name="message" rows="10" placeholder="Your message here" required></textarea>
                                        </div>
                                    </div>
                                    <div class="centered">
                                        <input class="button button--secondary" type="submit" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}
