{% extends 'base.html' %}
{% load static %}

{% block layout %}
    <header class="navigation row">
        <div class="small-12 column navogation__menu-desktop">
            <div class="navigation__wrap content-wrap">
                <a href="/" class="large-2 medium-2 small-2 logo-container">
                    <img class="logo" src="{% static "img/logo.png" %}"/>
                </a>
                <nav class="navigation__menu">
                    <ul class="">
                        <li class="navigation__item navigation__list navigation__menu--has-dropdown"><a href="/about" class="navigation__link">About Us</a>
                            <ul class="navigation__dropdown">
                                <li class="navigation__item"><a href="/meet-the-team" class="navigation__link">Meet The Team</a></li>
                                <li class="navigation__item"><a href="/how-it-works" class="navigation__link">How It Works</a></li>
                                <li class="navigation__item"><a href="/who-we-are" class="navigation__link">Who We Are</a></li>
                            </ul>
                        </li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Find a Cause</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Find a Marketer</a></li>
                        <li class="navigation__item navigation__menu--has-dropdown"><a href="/partnerships" class="navigation__link">Partnerships</a>
                            <ul class="navigation__dropdown">
                                <li class="navigation__item"><a href="/become-a-partner" class="navigation__link">Become a Partner</a></li>
                                <li class="navigation__item"><a href="/our-partners" class="navigation__link">Our Partners</a></li>
                            </ul>
                        </li>
                        <li class="navigation__item"><a href="/contact" class="navigation__link">Contact Us</a></li>
                    </ul>
                </nav>
                <div class="navigation__login">
                    {% if user.is_authenticated %}
                        <p class="navigation__username">{{ user.email }}</p>
                        <form method="POST" action="/logout/">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    {% else %}
                        <div class="navigation__login-social">
                            <a href="#" class="navigation__social-icon">{% include "icons/linkedin.svg" %}</a>
                            <a href="#" class="navigation__social-icon">{% include "icons/facebook.svg" %}</a>
                            <a href="#" class="navigation__social-icon">{% include "icons/twitter.svg" %}</a>
                        </div>
                        <a href="/accounts/login" class="button">Sign in</a>
                        <a href="/accounts/register" class="navigation__register">Not registered?</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="navigation__mobile-toggle">
        <p>Menu</p>
        </div>
    </header>
    {% block main %}
    {% endblock %}


{% endblock %}
