{% extends 'base.html' %}
{% load static %}

{% block layout %}
    <header class="navigation row">
        <div class="small-12 column js-header-nav">
            <div class="navigation__wrap content-wrap js-header-list">
                <a href="/" class="logo-container">
                    <img class="logo" src="{% static "img/logo.png" %}"/>
                </a>
                <button class="navigation__button js-nav-toggle"><span class="visuallyhidden">Menu</span><span class="navigation__toggle"></span></button>

                <nav class="navigation__menu">
                    <ul class="navigation__list">
                        <li class="navigation__item navigation__list navigation__menu--has-dropdown"><p>About Us</p>
                            <ul class="navigation__dropdown">
                                <li class="navigation__item"><a href="/meet-the-team" class="navigation__link">Meet The Team</a></li>
                                <li class="navigation__item"><a href="/how-it-works" class="navigation__link">How It Works</a></li>
                                <li class="navigation__item"><a href="/who-we-are" class="navigation__link">Who We Are</a></li>
                            </ul>
                        </li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Find a Cause</a></li>
                        <li class="navigation__item"><a href="#" class="navigation__link">Find a Marketer</a></li>
                        <li class="navigation__item navigation__menu--has-dropdown"><p>Partnerships</p>
                            <ul class="navigation__dropdown">
                                <li class="navigation__item"><a href="/become-a-partner" class="navigation__link">Become a Partner</a></li>
                                <li class="navigation__item"><a href="/our-partners" class="navigation__link">Our Partners</a></li>
                            </ul>
                        </li>
                        <li class="navigation__item"><a href="/contact" class="navigation__link">Contact Us</a></li>
                    </ul>
                </nav>
                <div class="navigation__login">
                    {% if user.is_authenticated %}
                        {% if user.name %}
                            <a class="navigation__username" href="/accounts/profile"> {{ user.name }}</a>
                        {% else %}
                            <p class="navigation__username"> {{ user.email }}</p>
                        {% endif %}
                        <form method="POST" action="/logout/">
                            {% csrf_token %}
                            <button type="submit" class="button--unstyled navigation__logout">Logout</button>
                        </form>
                    {% else %}
                        <div class="navigation__login-social">
                            <a href="#" class="navigation__social-icon social-icon">{% include "icons/linkedin.svg" %}</a>
                            <a href="#" class="navigation__social-icon social-icon">{% include "icons/facebook.svg" %}</a>
                            <a href="#" class="navigation__social-icon social-icon">{% include "icons/twitter.svg" %}</a>
                        </div>
                        <a href="/accounts/login" class="button button--primary">Sign in</a>
                        <a href="/accounts/register" class="navigation__register">Not registered?</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% block main %}
    {% endblock %}

    <!-- ************* -->
    <!-- SIGN UP PANEL -->
    <!-- ************* -->

    <section class="pnl-signup">
        <div class="content-wrap">
            <div class="row">
                <div class="medium-6 large-6 small-10 large-centered small-centered columns">
                    <h4 class="pnl__title">Sign up to our newsletter</h4>
                    <form method="POST" action="https://pimpmycause.us2.list-manage.com/subscribe/post">
                        <input type="hidden" name="u" value="23c6e23757f1478af7548526b">
                        <input type="hidden" name="id" value="eafa9094b7">
                        <div class="row">
                            <div class="medium-6 large-6 small-12 columns">
                                <input type="text" name="MERGE1" placeholder="First Name" required>
                            </div>
                            <div class="medium-6 large-6 small-12 columns">
                                <input type="text" name="MERGE2" placeholder="Surname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-7 large-8 small-12 columns">
                                <input type="email" name="MERGE0" placeholder="Email Address" required>
                            </div>
                            <div class="centered">
                                <input class="button button--secondary" type="submit" value="Sign up">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class='footer'>
        <nav class='footer__navigation content-wrap'>
            <div class="footer__legal">
                <a href="/">
                    <img class="footer__logo" src="{% static "img/logo.png" %}"/>
                </a>
                <p>Copyright @ {% now "Y" %} PIMP MY CAUSE </p>
            </div>
            <div class="footer__info">
                <ul>
                    <li>
                        <a href="/terms-and-conditions/">Terms of usage</a>
                    </li>
                    <li>
                        <a href="#">Support/Help</a>
                    </li>
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                </ul>
                <ul class="footer__social">
                    <li>
                        <a href="#" class="footer__social-icon linkedin">{% include "icons/linkedin.svg" %}</a>
                    </li>
                     <li>
                        <a href="#" class="footer__social-icon twitter">{% include "icons/twitter.svg" %}</a>
                    </li>
                    <li>
                        <a href="#" class="footer__social-icon facebook">{% include "icons/facebook.svg" %}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
{% endblock %}
