{% extends 'base.html' %}
{% load static %}

{% block layout %}
    <header class="navigation row js-header-nav">
        <div class="column">
            <div class="small-12 content-wrap js-header-list">
                <div class="navigation__wrap">
                    <nav class="navigation__header">
                        <a href="{% url 'homepage' %}" class="logo-container">
                            <img class="logo" src="{% static 'images/homepage/logo.png' %}"/>
                        </a>
                        <button class="navigation__button js-nav-toggle"><span class="visuallyhidden">Menu</span><span class="navigation__toggle"></span></button>
                    </nav>

                    <nav class="navigation__menu">
                        <ul class="navigation__list">
                            <li class="navigation__item navigation__list navigation__menu--has-dropdown"><p>About Us</p>
                                <ul class="navigation__dropdown">
                                    <li class="navigation__item"><a href="{% url 'team' %}" class="navigation__link">Meet The Team</a></li>
                                    <li class="navigation__item"><a href="{% url 'how_it_works' %}" class="navigation__link">How It Works</a></li>
                                    <li class="navigation__item"><a href="{% url 'who_we_are' %}" class="navigation__link">Who We Are</a></li>
                                    <li class="navigation__item"><a href="{% url 'news_post_list' %}" class="navigation__link">News</a></li>
                                </ul>
                            </li>
                            <li class="navigation__item"><a href="{% url 'search_cause' %}" class="navigation__link">Find a Cause</a></li>
                            <li class="navigation__item"><a href="{% url 'search_marketer' %}" class="navigation__link">Find a Marketer</a></li>
                            <li class="navigation__menu--has-dropdown"><p>Partnerships</p>
                                <ul class="navigation__dropdown">
                                    <li class="navigation__item"><a href="{% url 'team_challenges' %}" class="navigation__link">Team Challenges</a></li>
                                    <li class="navigation__item"><a href="{% url 'become_a_partner' %}" class="navigation__link">Become a Partner</a></li>
                                    <li class="navigation__item"><a href="{% url 'become_a_partner' %}#our-partners" class="navigation__link">Our Partners</a></li>
                                </ul>
                            </li>
                            <li class="navigation__item"><a href="{% url 'contact' %}" class="navigation__link">Contact Us</a></li>
                        </ul>
                        <ul class="navigation__list navigation__menu--hide-large">
                            {% if user.is_authenticated %}
                                <li class="navigation__item">
                                    <a class="navigation__link" href="{% url 'profile_detail' user_id=user.id %}"> {{ user.name }}
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="navigation__item">
                                    <a class="navigation__link" href="{% url 'inbox' %}">Inbox</a>
                                </li>
                                <li class="navigation__item">
                                    <a class="navigation__link" href="{% url 'logout' %}?next=/">Logout</a>
                                </li>
                            {% else %}
                                <li class="navigation__item">
                                    <a href="{% url 'login' %}" class="navigation__link">Sign in</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="navigation__login">
                        {% if user.is_authenticated %}
                            <div>
                                <a class="navigation__username" href="{% url 'profile_detail' user_id=user.id %}"> {{ user.name }}
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </a>
                                <a class="navigation__email" href="{% url 'inbox' %}">
                                    <span class="visuallyhidden">Inbox</span>
                                    {% if unread_message_count > 0 %}
                                        <span class="navigation__email--unread">{{unread_message_count}}</span>
                                    {% endif %}
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                            </div>
                            <a href="{% url 'logout' %}?next=/" class="navigation__logout">                                                     <i class="fa fa-sign-out margin-right-5" aria-hidden="true"></i>Logout</a>
                        {% else %}
                            <!-- <ul class="social">
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fa fa-linkedin social__icon" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#"" class="social__link">
                                        <i class="fa fa-facebook social__icon" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="social__item">
                                    <a href="#" class="social__link">
                                        <i class="fa fa-twitter social__icon" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul> -->
                            <a href="{% url 'login' %}" class="button button--primary">Sign in</a>
                            <a href="{% url 'registration_register' %}" class="navigation__register">Not registered?</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% block main %}
    {% endblock %}

    <!-- ************* -->
    <!-- SIGN UP PANEL -->
    <!-- ************* -->

    <section class="pnl-signup">
        <div class="content-wrap">
            <div class="row">
                <div class="medium-6 large-6 small-10 large-centered small-centered columns">
                    <h4 class="pnl__title">Sign up to our newsletter</h4>
                    <form method="POST" action="https://pimpmycause.us2.list-manage.com/subscribe/post">
                        <input type="hidden" name="u" value="23c6e23757f1478af7548526b">
                        <input type="hidden" name="id" value="eafa9094b7">
                        <div class="row">
                            <div class="medium-6 large-6 small-12 columns">
                                <input type="text" name="MERGE1" placeholder="First Name" required>
                            </div>
                            <div class="medium-6 large-6 small-12 columns">
                                <input type="text" name="MERGE2" placeholder="Surname" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-7 large-8 small-12 columns">
                                <input type="email" name="MERGE0" placeholder="Email Address" required>
                            </div>
                            <div class="columns large-4 medium-5">
                                <input class="button button--secondary" type="submit" value="Sign up">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class='footer'>
        <nav class='footer__navigation columns padding-bottom-30'>
            <div class="footer__legal">
                <a href="/" class="margin-right-5">
                    <img class="footer__logo" src="{% static 'images/homepage/logo.png' %}"/>
                </a>
                <p class="small">Copyright @ {% now "Y" %} PIMP MY CAUSE</p>
            </div>
            <div class="footer__info">
                <ul>
                    <li>
                        <a href="/terms-and-conditions/" class="small footer__link">Terms of usage</a>
                    </li>
<!--                     <li>
                        <a href="#" class="small footer__link">Support/Help</a>
                    </li>
                    <li>
                        <a href="#" class="small footer__link">Privacy</a>
                    </li> -->
                </ul>
                <ul class="social">
                    <li class="social__item">
                        <a href="https://www.linkedin.com/company/pimp-my-cause/" class="social__link">
                            <i class="fa fa-linkedin-square social__icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.facebook.com/PimpMyCause/" class="social__link">
                            <i class="fa fa-facebook-square social__icon" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="twitter.com/pimpmycause" class="social__link">
                            <i class="fa fa-twitter-square social__icon" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>
{% endblock %}
