{% extends "layout.html" %}

{% block title %} Sent Messages {% endblock %} 

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12">
                    <div class="row">
                        <h1 class="pnl__title">Sent messages</h1>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            {% if messages %}
                                {% for message in messages %}
                                    <article class="small-12 columns margin-top-30 clearfix">
                                        <div class="cause__wrapper">
                                            <div class="small-12 medium-4 columns">
                                                {% if message.sent_at %}
                                                    <h4 class="h4 cause__title">
                                                        <i class="fa fa-calendar margin-right-5" aria-hidden="true"></i>
                                                        {{ message.sent_at|date:"M d, Y"  }}
                                                    </h4> 
                                                {% endif %}
                                                    <a class="h4 cause__title" href="{% url 'profile_detail' user_id=message.recipient.id %}">To: {{ message.recipient }} {% if message.recipient.causeprofile.cause_name %} from {{message.recipient.causeprofile.cause_name }} {% endif %}</a>
                                            </div>
                                            <div class="small-12 medium-8 columns">
                                                <h2 class="cause__title">{{ message.subject | title }}</h2>
                                                
                                                <div class="cause__text margin-bottom-30">{{ message.message | safe | title | truncatechars:150 }}</div>
                                                
                                                <a href="TODO" class="button button--primary margin-top-15">Read more</a>
                                            </div> 
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div class="small-12">
                                        <h3><i class="fa fa-frown-o margin-right-5" aria-hidden="true"></i> No sent messages.</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}