{% extends "layout.html" %}

{% block title %} Inbox{% endblock %} 

{% load static %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12">
                    <div class="row">
                        <h1 class="pnl__title">Sent</h1>
                    </div>
                <div class="row message-wrapper">
                    <aside class="message-list large-2 medium-4 small-12 columns">
                        <nav>
                            <h4 class="margin-top-15 text-align-left">Mailboxes</h4>
                            <ul class="unstyled-list text-align-left">
                                <li class="message-list__link">
                                    <a class="h5 text-link" href="{% url 'inbox' %}">Inbox</a>
                                </li>
                                <li class="message-list__link">
                                    <a class="h5 text-link" href="{% url 'sent_messages' %}">Sent</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <main class="large-10 medium-8 small-12 columns message-list__main">
                        {% if messages %}
                            {% for message in messages %}
                                <article class="message-list__message small-12 columns margin-top-30 clearfix padding-bottom-30">  
                                        <header class="message-list__message-header">
                                            <div>
                                                <span class="margin-right-15">
                                                    {{ message.sender }}
                                                    {% if message.sender.causeprofile.cause_name %}
                                                        ({{message.sender.causeprofile.cause_name }})
                                                    {% endif %}
                                                </span>
                                                <span>
                                                    {{ message.subject | title }}
                                                    {% if message.unread %}
                                                        <span class="helptext margin-bottom-0 flag flag--new">new</span>
                                                    {% else %}
                                                        {% if message.number_of_unread_replies > 0 %}
                                                            <span class="helptext margin-bottom-0 flag flag--new">({{message.number_of_unread_replies}})</span>
                                                        {% endif %}
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div>
                                                {% if message.sent_at %}
                                                    <p class="small cause__title margin-top-20">
                                                        <i class="fa fa-calendar margin-right-5" aria-hidden="true"></i>
                                                        {{ message.sent_at|date:"M d, Y"  }}
                                                    </p> 
                                                {% endif %}
                                            </div>
                                        </header>
                                        <div class="small-12 medium-3 large-2 columns margin-top-15">
                                            <a class="h5 cause__title" href="{% url 'profile_detail' user_id=message.sender.id %}">
                                                <div class="small-6 medium-12 columns small-centered margin-top-15">
                                                    {% if not message.sender.image %}
                                                        <div class="marketer__image" style="background-image: url({% static "images/placeholder/marketer-default-image.png" %})" alt="{{ marketer.name | title }} {{ marketer.surname | title }} Profile Image"></div>
                                                    {% else %}
                                                        <div class="marketer__image" style="background-image:url('{{ message.sender.image }}')" alt="{{ message.sender.name | title }} {{ message.sender.surname | title }} Profile Image"></div>
                                                    {% endif %}
                                                </div>
                                            </a>
                                        </div>
                                        <div class="small-12 medium-8 columns margin-top-15">
                                            <div class="cause__text margin-bottom-30">{{ message.message_body | truncatechars:150  }}</div>
                                            <a href="{% url 'message_detail' message_id=message.id %}" class="button button--primary margin-top-30">Read more</a>
                                        </div> 
                                </article>
                            {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="small-12">
                                    <h3>No new messages.</h3>
                                </div>
                            </div>
                        {% endif %}
                    </main>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}