/* =================================
BASE / COLOURS
================================= */


// Colour Values
$white: #FEFEFE;
$purple: #441144;
$pink: #DC0E54; //FF035C - nice alt
$green: #809b29;
$mustard: #d7be01;
$grey: #E1E0E7;
$aluminium: #dbdbdb;
$black: #3c3c3c;
$overlay: #f2f4f5;
$grey2: #f1f1f1;
$grey3: #888888;
$grey4: #a0a0a0;
$silver-grey: #F2F2F2;
$red: #FF3443;
$lighter-black-colour: #444;




// Text
$colr-txt: $white;
$colr-txt-dark: $black;
$colr-txt-dropdown: $purple;
$colr-txt-accent: $purple;
$colr-txt-menu-item: $aluminium;
// Button - all the same for: submit, signup and Continue (join)
$colr-btn-signin: $pink;
$colr-btn-newsleter: $purple;
$colr-btn: $purple;
// Mobile off canvas menu
$colr-mob-menu: $purple;
// Panel for each section and banner for top
$colr-pnl-header: $purple;
$colr-pnl-hero: $pink;
$colr-pnl-marketing: $purple;
$colr-pnl-causes: $mustard;
$colr-pnl-marketers: $green;
$colr-pnl-summary: $white;
$colr-pnl-talkabout: $purple;
$colr-pnl-contactus: $grey;
$colr-pnl-signup: $pink;
$colr-pnl-footer: $white;
// Hero Panel
$colr-hero-tile: $green;
$colr-hero-tile2: $mustard;
$colr-hero-txt: $purple;
// Talking About Panel - banner background
$colr-bnr-tweet: $pink;
$colr-bnr-news: $pink;

$colr-social-tile-bg: $white;
$colr-social-tile-title: $pink;

$colr-slider-dark-pnl: $grey2;
$colr-slider-text: $grey3;

$colr-readmore: $pink;
$colr-error: $red;
$colr-footer: $grey3;

// dropdown colours
$colr-dropdown-border: $grey4;
$colr-dropdown-background: $grey2;
$colr-dropdown-txt: $purple;
$colr-dropdown-txt-selected: rgba(59, 29, 74, 0.1);

