/* =================================
   BASE / TYPOGRAPHY
   ================================= */


.underline {
	text-decoration: underline;
}

// dropdown and front page hero panel
$lato: 'Lato', sans-serif;
$font-weight: 100;
// Front page
$open-sans: 'Open Sans', sans-serif;

