/* =================================
   BASE / TYPOGRAPHY
   ================================= */

.underline {
	text-decoration: underline;
}

$lato: 'Lato', sans-serif;
$font-weight: 100;
$open-sans: 'Open Sans', sans-serif;

