/* =================================
   LAYOUT / HEADER
   ================================= */


.pnl-header, #pnl-header-colr-to-edge {
    background-color: $colr-pnl-header;  
}

.header-row-position-relative {
    position: relative;
}

.header-column-position-static {
    position: static;    
}

.vertical-align-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.header-social-icons, .header-sign-in, .header-register {
    display: block;
    text-align: center;
    padding-bottom: rem-calc(5);
    padding-right: rem-calc(5);
}

.header-social-icons {
    font-size: rem-calc(24);
    letter-spacing: rem-calc(5);
} 

.header-sign-in {
    
    .button {
        padding: 0.75rem 1.5rem 0.8125rem 1.5rem; 
        width: 8.5rem;
        font-size: rem-calc(18);
    }
}

.header-register {
    padding-bottom: rem-calc(25);
    font-size: rem-calc(18);
}

.row .columns, .row .column {
    padding-top: 0.625rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
