{% extends "layout.html" %}

{% block title %} Help Wanted Ads {% endblock %} 

{% load static widget_tweaks %}

{% block main %} 

    <section class="page-about pnl">
        <div class="content-wrap">
            <div class="large-12 medium-12 small-12 row">
                <div class="pnl__border--bottom margin-bottom-30 padding-bottom-30 clearfix">
                    <h1 class="pnl__title">Help Wanted Ads</h1>
                    <h2 class="margin-top-0 small-10 small-centered medium-8 medium-centered columns body-text text-align-center">Your help is needed! Browse or search our listings of help wanted ads to find an inspiring project that you can donate your talent to.</h2>
                </div>
                <div class="row">
                    <aside class="large-3 medium-4 small-12 columns margin-top-30">
                         <form action="" method="get" class="margin-bottom-30 margin-top-30">
                            <div class="large-12 medium-12 small-12">
                                <h4 class="text-align-left small-12 margin-top-0">Filter by:</h4>
                                    {% if adverts_list.form.non_field_errors %}
                                        <div class="row non-field-errors small-12">
                                        {% for error in adverts_list.form.non_field_errors %}
                                            <p class="form-error text-danger">{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% for field in adverts_list.form %}
                                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p class="form-error pull-left text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <label for="{{field.id}}">{{field.label}}</label>
                                            {% render_field field %}
                                        </div>
                                    {% endfor %}
                                    
                                    <div class="filters__item text-align-left">
                                        <input class="button button--primary" type="submit" value="Apply Filters">
                                    </div>
                                </form>
                            </div>
                        </form>
                    </aside>

                    <main class="large-9 medium-8 small-12 columns">
                        <div class="row">
    

                            {% if adverts_list.qs|length > 0 %}
                                {% for advert in adverts_list.qs %}
                                    <article class="small-12 columns margin-top-30 pnl__border--bottom padding-bottom-30">
                                        <div class="cause__wrapper">
                                            <div class="small-12 medium-4 columns">
                                                {% if advert.deadline %}
                                                    <p class="cause__title small">
                                                        <i class="fa fa-calendar-times-o margin-right-5" aria-hidden="true"></i>
                                                        {{ advert.created_at|date:"M d, Y"  }} -
                                                        {{ advert.deadline|date:"M d, Y"  }}
                                                    </p> 
                                                {% else %}
                                                    <p class="cause__title small">
                                                        <i class="fa fa-calendar-times-o margin-right-5" aria-hidden="true"></i>
                                                        {{ advert.created_at|date:"M d, Y"  }} - ... 
                                                    </p> 
                                                {% endif %}
                                                {% if advert.cause_profile.profile.image.value %}
                                                    <img src="{{advert.cause_profile.profile.image.value}}"/>
                                                {% else %}
                                                    <img src={% static "images/placeholder/cause-default-image.png" %}/>
                                                {% endif %}
                                            </div>
                                            <div class="small-12 medium-8 columns">
                                                <a href="{% url 'advert_detail' advert_id=advert.id  %}">
                                                    <h1 class="h4 cause__title margin-top-0 margin-bottom-10">{{ advert.title | title }}</h1>
                                                </a>
                                                <a href="{% url 'profile_detail' user_id=advert.cause_profile_id %}">{{ advert.cause_profile | title }}</a>

                                                <h2 class="cause__title h5 margin-top-15 margin-bottom-10">Description</h3>
                                                {% if advert.description %}
                                                    <p>{{ advert.description |truncatechars:300 }}                                         
                                                        <a href="{% url 'advert_detail' advert_id=advert.id  %}" class="text-link">Read more</a>
                                                    </p> 

                                                {% else %}
                                                    <p class="helptext margin-top-0">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        {{ profile_user.cause_name | title }} is yet to share this information.
                                                    </p>                                            
                                                {% endif %}
                                                <!-- <h2 class="cause__title h5 margin-top-15 margin-bottom-10">Skills Required</h3>

                                                {% if advert.skills.all|length %}
                                                    <ul class="unstyled-list text-align-left">
                                                        {% for skill in advert.skills.all%}
                                                            <li>{{ skill | title }}</li>
                                                        {% endfor %}
                                                    </ul>

                                                {% else %}
                                                    <p class="helptext margin-top-0">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        {{ advert.cause_profile | title }} is yet to share this information.
                                                    </p>                                            
                                                {% endif %} -->
                                                <h2 class="cause__title h5 margin-top-15 margin-bottom-10">Deadline</h3>
                                                {% if advert.deadline %}
                                                    <p class="margin-top-0">
                                                        {{ advert.deadline|date:"M d, Y"  }}
                                                    </p> 
                                                {% else %}
                                                    <p class="margin-top-0">It's Flexible! We'll work with your schedule</p>

                                                {% endif %}
                                                <footer class="margin-top-30">
                                                    {% if advert.cause_profile.category %}
                                                        <p><i class="fa fa-tags margin-right-5" aria-hidden="true"></i>{{ advert.cause_profile.get_category_display | title }}
                                                    {% endif %}
                                                    {% if advert.cause_profile.category and advert.cause_profile.profile.city %}
                                                    |
                                                    {% endif %}

                                                    {% if advert.cause_profile.profile.city %}
                                                        <i class="fa fa-map-marker margin-right-5" aria-hidden="true"></i>{{ advert.cause_profile.profile.city | title }} {% if cause.distance %} ({{ cause.distance.km | floatformat:0 }} km) {% endif %}</p>
                                                    {% endif %}
                                                    <p class="helptext margin-top-30 padding-bottom-30">
                                                        <i class="fa fa-clock-o margin-right-5" aria-hidden="true"></i>
                                                    Posted on {{ advert.created_at|date:"M d, Y"  }}
                                                    </p> 
                                                </footer>
                                                {% if user.causeprofile == advert.cause_profile %}
                                                    <div class="small-12 medium-9 columns text-align-left">
                                                        <div class="row">
                                                            <a href="{% url 'advert_edit' advert_id=advert.id  %}" class="button button--secondary "><i class="fa fa-pencil margin-right-5" aria-hidden="true"></i>Edit</a>
                                                            <a href="{% url 'advert_delete' advert_id=advert.id  %}" class="button button--danger"><i class="fa fa-trash margin-right-5" aria-hidden="true"></i>Delete</a>
                                                        </div>
                                                    </div>                                                
                                                {% else %}
                                                    <a href="{% url 'advert_detail' advert_id=advert.id  %}" class="button button--primary margin-top-15">View Advert</a>
                                                {% endif %}
                                            </div> 
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div class="small-12">
                                        <h3><i class="fa fa-frown-o margin-right-5" aria-hidden="true"></i> Sorry, we couldn't find any Ads to display.</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}
     