{% extends "layout.html" %}

{% block title %} Find a Cause {% endblock %} 

{% load static widget_tweaks %}

{% block main %} 
    <section class="page-about pnl">
        <div class="content-wrap">
            <div class="large-12 medium-12 small-12 row">
                <div class="pnl__border--bottom margin-bottom-30 padding-bottom-30 clearfix">
                    <h1 class="pnl__title">Find a Cause</h1>
                    <h2 class="margin-top-0 small-10 small-centered medium-8 medium-centered columns body-text text-align-center">Find a cause that you would like to donate your talent and skills to.</h2>
                    <h3 class="margin-top-0 small-8 small-centered medium-8 medium-centered columns h5 text-align-center">Prefer to search just the Help Wanted Ads?</h3>
                    <span class="small-12 columns text-align-center margin-bottom-30 margin-top-0">
                        <a href="{% url 'search_ads' %}" class="button button--primary">Search Help Wanted Ads</a>
                    </span>
                </div>
                    <aside class="large-3 medium-4 small-12 columns margin-top-30">
                         <form action="{% url 'search_cause' %}" method="get" class="margin-bottom-30 margin-top-30">
                            <div class="large-12 medium-12 small-12">
                                <h4 class="text-align-left small-12 margin-top-0">Filter by:</h4>
                                    {% if cause_filters.form.non_field_errors %}
                                        <div class="row non-field-errors small-12">
                                        {% for error in cause_filters.form.non_field_errors %}
                                            <p class="form-error text-danger">{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% for field in cause_filters.form %}
                                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p class="form-error pull-left text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <label for="{{field.id}}">{{field.label}}</label>
                                            {% render_field field %}
                                        </div>
                                    {% endfor %}
                                    
                                    <div class="filters__item text-align-left">
                                        <input class="button button--primary" type="submit" value="Apply Filters">
                                    </div>
                                </form>
                            </div>
                        </form>
                    </aside>

                    <main class="large-9 medium-8 small-12 columns">
                        {% if cause_list %}
                            
                               {% for cause in cause_list %}
                                <section class="cause margin-top-30 row">
                                    <div class="cause__wrapper small-12 columns">
                                        <div class="small-12 medium-3 columns show-for-large-up">
                                            <div class="cause__image-wrapper margin-top-15">
                                                {% if cause.image %}
                                                    <img class="cause__image" src="{{ cause.image }}" alt="{{ cause.causeprofile.cause_name }} Profile Image">
                                                {% else %}
                                                    <img class="profile-img"
                                                    src={% static "images/placeholder/cause-default-image.png" %}
                                                    alt="{{ cause.cause_name }} Profile Image">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="cause__info small-12 medium-7 large-6 columns">
                                            <div clas="col-xs-12 columns">
                                                <a href="{% url 'profile_detail' user_id=cause.id %}">
                                                    <h1 class="cause__title h3 margin-bottom-0 margin-top-0">{{ cause.cause_name | title }}</h1>
                                                </a>
                                                <h2 class="cause__title h5 margin-top-15 margin-bottom-15">Our Mission</h2>
                                                {% if cause.causeprofile.mission %}
                                                    <p>{{ cause.causeprofile.mission | truncatechars:300 }}</p>
                                                {% else %}
                                                    <p clas="helptext">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        {{ cause.cause_name | title }} is yet to share this information.
                                                    </p>                                            
                                                {% endif %}

                                                <footer class="margin-top-30">
                                                    {% if cause.causeprofile.category is not None %}
                                                        <p><i class="fa fa-tags margin-right-5" aria-hidden="true"></i>{{ cause.causeprofile.get_category_display | title }}
                                                    {% endif %}

                                                    {% if cause.causeprofile.category is not None  and cause.city %}
                                                        |
                                                    {% endif %}

                                                    {% if cause.city %}
                                                        <i class="fa fa-map-marker margin-right-5" aria-hidden="true"></i>{{ cause.city | title }} {% if cause.distance %} ({{ cause.distance.km | floatformat:0 }} km) {% endif %}</p>
                                                    {% endif %}
                                                </footer>
                                            </div>
                                        </div>
                                        <div class="small-12 medium-5 large-3 columns">
                                            <div class="cause__ads">
                                                <p class="cause__title"><b><i class="fa fa-wpforms margin-right-5" aria-hidden="true"></i>{{ cause.ads_count }} Help Wanted {% if cause.ads_count is 1 %}Ad{% else %}Ads{% endif %}</b></p>
                                            </div>
                                            <a href="{% url 'profile_detail' user_id=cause.id %}" class="button button--secondary display-inline-block">
                                            See Profile
                                            </a>
                                        </div>
                                    </div>
                                </section>
                                {% endfor %}
                                <div class="pagination clearfix padding-top-30 text-align-center">
                                        <span class="step-links">
                                            {% if cause_list.has_previous %}
                                                <a class="text-link margin-right-5" href="?page=1">First</a>
                                                <a class="text-link margin-right-5" href="?page={{ cause_list.previous_page_number }}">&larr; Previous</a>
                                            {% endif %}

                                            <span class="current margin-right-5">
                                                Page {{ cause_list.number }} of {{ cause_list.paginator.num_pages }}
                                            </span>

                                            {% if cause_list.has_next %}
                                                <a class="text-link margin-right-5" href="?page={{ cause_list.next_page_number }}">Next &rarr;</a>
                                                <a class="text-link" href="?page={{ cause_list.paginator.num_pages }}">Last</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="small-12">
                                        <h3>Sorry, we couldn't find any Causes to display.</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </main>
                    </div>
            </div> 
        </div>
    </section> 
{% endblock %}
     