{% extends "layout.html" %}

{% block title %} Registration Complete {% endblock %} 

{% load static %}

{% block main %} 

    <section class="page-about pnl">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12">
                    <div class="row">
                        <h1 class="pnl__title">Meet the Marketers</h1>
                        <h3 class="margin-top-0 small-10 small-centered medium-8 medium-centered columns">Browse or search our listings of professionals. Build your network and find new potential collaborators.</h3>
                    </div>
                    {% if marketer_list|length > 0 %}
                        <div class="row">
                           {% for marketer in marketer_list %}
                                <div class="marketer large-4 medium-6 small-12 column margin-bottom-30 margin-top-30">
                                    <div class="marketer__wrapper">
                                        <div class="marketer__image-wrapper">
                                            {% if marketer.image %}
                                                <div class="marketer__image" style="background-image:url('{{ marketer.image }}')"></div>
                                            {% else %}
                                                <div class="marketer__icon">
                                                    <i class="fa fa-user fa-5" aria-hidden="true"></i>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <h2 class="marketer__title"> {{ marketer.name | title }} {{ marketer.surname | title }}</h2>
                                            <a href="{% url 'profile_detail' user_id=marketer.id %}" class="marketer__info">
                                                {% if marketer.position %}
                                                    <h3 class="marketer__text  margin-bottom-15">{{ marketer.position | title }}</h3>
                                                {% endif %}
                                                {% if marketer.city %}
                                                    <p class="marketer__text"><i class="fa fa-map-marker margin-right-5" aria-hidden="true"></i>{{ marketer.city | title }}</p>
                                                {% endif %}
                                                {% if marketer.bio %}
                                                    <p class="marketer__text margin-top-30 margin-bottom-30">{{ marketer.bio|truncatechars:200 }}</p>
                                                {% endif %}
                                                <p class="marketer__link">See {{ marketer.name | title }}'s profile</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h3><i class="fa fa-frown-o margin-right-5" aria-hidden="true"></i> Sorry, we couldn't find any Marketers to display.</h3>
                    {% endif %}
                </div> 
            </div> 
        </div>
    </section> 
{% endblock %}
     