{% extends "layout.html" %}

{% block title %} Help Wanted Ads {% endblock %} 

{% load static widget_tweaks %}

{% block main %} 

    <section class="page-about pnl">
        <div class="content-wrap">
            <div class="large-12 medium-12 small-12 row">
                <div class="pnl__border--bottom margin-bottom-30 padding-bottom-30 clearfix">
                    <h1 class="pnl__title">Help Wanted Ads</h1>
                    <h2 class="margin-top-0 small-10 small-centered medium-8 medium-centered columns body-text text-align-center">Your help is needed! Browse or search our listings of help wanted ads to find an inspiring project that you can donate your talent to.</h2>
                </div>
                <div class="row">
                    <aside class="large-3 medium-4 small-12 columns margin-top-30">
                       <form action="{% url 'search_ads' %}" method="get" class="margin-bottom-30 margin-top-30">
                            <div class="large-12 medium-12 small-12">
                                <h4 class="text-align-left small-12 margin-top-0">Filters:</h4>
                                    {% csrf_token %}
                                    {% if adverts_list.form.non_field_errors %}
                                        <div class="row non-field-errors small-12">
                                        {% for error in adverts_list.form.non_field_errors %}
                                            <p class="form-error text-danger">{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% for field in adverts_list.form %}
                                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p class="form-error pull-left text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <label for="{{field.id}}">{{field.label}}</label>
                                            {% render_field field %}
                                        </div>
                                    {% endfor %}
                                    
                                    <div class="filters__item text-align-left">
                                        <input class="button button--primary" type="submit" value="Apply Filters">
                                    </div>
                                </form>
                            </div>
                        </form>
                    </aside>

                    <main class="large-9 medium-8 small-12 columns">
                        <div class="row">
    

                            {% if adverts_list.qs|length > 0 %}
                                {% for advert in adverts_list.qs %}
                                    <article class="small-12 columns margin-top-30 clearfix">
                                        <div class="cause__wrapper">
                                            <div class="small-12 medium-4 columns">
                                                {% if advert.deadline %}
                                                    <p class="h5 cause__title">
                                                        <i class="fa fa-calendar margin-right-5" aria-hidden="true"></i>
                                                        {{ advert.deadline|date:"M d, Y"  }}
                                                    </p> 
                                                {% endif %}
                                                {% if advert.cause_profile.profile.image.value %}
                                                    <img src="{{advert.cause_profile.profile.image.value}}"/>
                                                {% else %}
                                                    <img src={% static "images/placeholder/cause-default-image.png" %}/>
                                                {% endif %}
                                            </div>
                                            <div class="small-12 medium-8 columns">
                                                <a href="">
                                                    <h1 class="h3 cause__title">{{ advert.title | title }}</h1>
                                                </a>
                                                <h2 class="h5 cause__title">Cause</h2>
                                                <a href="{% url 'profile_detail' user_id=advert.cause_profile_id %}">{{ advert.cause_profile | title }}</a>

                                                <h2 class="h5 cause__title">Description</h3>
                                                {% if advert.description %}
                                                    <p>{{ advert.description | title }}</p>
                                                {% else %}
                                                    <p class="helptext margin-top-0">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        {{ profile_user.cause_name | title }} is yet to share this information.
                                                    </p>                                            
                                                {% endif %}
                                                <h2 class="h5 cause__title">Skills Required</h3>

                                                {% if advert.skills.all|length %}
                                                    <ul class="unstyled-list text-align-left">
                                                        {% for skill in advert.skills.all%}
                                                            <li>{{ skill | title }}</li>
                                                        {% endfor %}
                                                    </ul>

                                                {% else %}
                                                    <p class="helptext margin-top-0">
                                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                        {{ advert.cause_profile | title }} is yet to share this information.
                                                    </p>                                            
                                                {% endif %}
                                                <p class="helptext margin-top-30 margin-bottom-30 padding-bottom-30">
                                                    <i class="fa fa-clock-o margin-right-5" aria-hidden="true"></i>
                                                    Posted on {{ advert.created_at|date:"M d, Y"  }}
                                                </p> 
                                                {% if user.causeprofile == advert.cause_profile %}
                                                    <div class="small-12 medium-9 columns text-align-left">
                                                        <div class="row">
                                                            <a href="{% url 'advert_edit' advert_id=advert.id  %}" class="button button--secondary "><i class="fa fa-pencil margin-right-5" aria-hidden="true"></i>Edit</a>
                                                            <a href="{% url 'advert_delete' advert_id=advert.id  %}" class="button button--danger"><i class="fa fa-trash margin-right-5" aria-hidden="true"></i>Delete</a>
                                                        </div>
                                                    </div>                                                
                                                {% else %}
                                                    <a href="{% url 'new_message' recipient_id=advert.cause_profile_id %}" class="button button--primary margin-top-15">Message {{ advert.name.value }}</a>

                                                {% endif %}
                                            </div> 
                                        </div>
                                    </article>
                                {% endfor %}
                            {% else %}
                                <div class="row">
                                    <div class="small-12">
                                        <h3><i class="fa fa-frown-o margin-right-5" aria-hidden="true"></i> Sorry, we couldn't find any Ads to display.</h3>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}
     