{% extends "layout.html" %}

{% block title %} Search Marketers {% endblock %} 

{% load static widget_tweaks %}

{% block main %} 

    <section class="page-about pnl">
        <div class="content-wrap">
            <div class="large-12 medium-12 small-12 row">
                <div class="pnl__border--bottom margin-bottom-30 padding-bottom-30 clearfix">
                    <h1 class="pnl__title">Meet the Marketers</h1>
                    <h2 class="margin-top-0 small-10 small-centered medium-8 medium-centered columns body-text text-align-center">Browse or search our listings of professionals. Build your network and find new potential collaborators.</h2>
                </div>
                <div class="">
                    <aside class="large-3 medium-4 small-12 columns margin-top-30">
                         <form action="" method="get" class="margin-bottom-30 margin-top-30">
                            <div class="large-12 medium-12 small-12">
                                <h4 class="text-align-left small-12 margin-top-0">Filter by:</h4>
                                    {% if marketer_list.form.non_field_errors %}
                                        <div class="row non-field-errors small-12">
                                        {% for error in marketer_list.form.non_field_errors %}
                                            <p class="form-error text-danger">{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% for field in marketer_list.form %}
                                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                                            {% if field.errors %}
                                                {% for error in field.errors %}
                                                    <p class="form-error pull-left text-danger">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            <label for="{{field.id}}">{{field.label}}</label>
                                            {% render_field field %}
                                        </div>
                                    {% endfor %}
                                    
                                    <div class="filters__item text-align-left">
                                        <input class="button button--primary" type="submit" value="Apply Filters">
                                    </div>
                                </form>
                            </div>
                        </form>
                    </aside>

                    <main class="large-9 medium-8 small-12 columns">
                        <div class="row">
                            {% if marketer_list.qs|length > 0 %}
                                {% for marketer in marketer_list.qs %}

                                    <div class="marketer {% if marketer_list.qs|length > 2 %}large-4 {% endif %}medium-6 small-12 column margin-bottom-30 margin-top-30">
                                        <div class="marketer__wrapper">
                                            <div class="marketer__image-wrapper">
                                                {% if marketer__profile.image %}
                                                    <div class="marketer__image" style="background-image:url('{{ marketer.image }}')" alt="{{ marketer.name | title }} {{ marketer.surname | title }} Profile Image"></div>
                                                {% else %}
                                                    <div class="marketer__image" style="background-image:url('https://s3-eu-west-1.amazonaws.com/pimpmycause-images/uploads/imgs/marketer-default-image.png')" alt="{{ marketer.name | title }} {{ marketer.surname | title }} Profile Image"></div>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <h2 class="marketer__title h4"> {{ marketer.name | title |truncatechars:16  }}</h2>
                                                <a href="{% url 'profile_detail' user_id=marketer.id %}" class="marketer__info">
                                                    <div>
                                                        {% if marketer.position %}
                                                            <b><h4 class="marketer__text margin-bottom-15 body-text">{{ marketer.position | title |truncatechars:35 }}</h4></b>
                                                        {% endif %}
                                                        {% if marketer.city %}
                                                            <p class="marketer__text small"><i class="fa fa-map-marker margin-right-5" aria-hidden="true"></i>{{ marketer.city | title }} {% if marketer.distance %} ({{ marketer.distance.km | floatformat:0 }} km){% endif %}</p>
                                                        {% endif %}
                                                    </div>
                                                    {% if marketer.bio %}
                                                        <p class="marketer__text margin-bottom-30">{{ marketer.bio|truncatechars:80 }}</p>
                                                    {% endif %}
                                                    <p class="marketer__link margin-top-0">See profile</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            {% else %}
                                <h3 class="small-8 small-centered columns h5"><i class="fa fa-frown-o margin-right-5" aria-hidden="true"></i> Sorry, we couldn't find any Marketers mathing that criteria to display.</h3>
                            {% endif %}
                        </main>
                    </main>
                </div>
            </div>
        </div>
    </section> 
{% endblock %}
     