/* =================================
   COMPONENTS / BUTTONS
   ================================= */

.button,
button {
    text-align: center;
    display: inline;
    border-radius: 2em;
    width: auto;
    margin: .5em 0;
    padding: .5em 2.3em;
    font-size: 1em;
    font-weight: 100;
    color: #fff;

    a {
        color: #fff;
    }

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        opacity: 0.5;
        background: #ccc;
        border-color: #ccc;
    }
}

.button--primary {
    background-color: $pink;
    border: 1px solid $pink;
}

.button--secondary {
    background-color: $purple;
    border: 1px solid $purple;
}

.button--unstyled {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.button--transparent {
    background-color: transparent;
    border: 0;
    padding: 0;
    border: 1px solid #fff;
    padding: .3em .8em;
}

.button--danger {
    background-color: $red;
    border: 1px solid $red;
}