$colr-marketer: pink;

.cause {
    border-bottom: 1px solid $silver-grey;
    padding: 1em 0;

    &__wrapper {
        position: relative;
        display: block;
    }

    &__title {
        text-align: left;
        color: $purple;
    }

    &__text {
        color: $purple;
        text-align: left;
        margin-top: 0;
    }

    &__info {
        background: $white;
    }

    &__image {
        background-color: $white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin: auto;
        width: 100%;
        max-height: 100%;
    }

    &__image-wrapper {
        align-content: center;
    }

    &__icon {
        font-size: 10em;
        border: 1px solid $green;
        border-radius: 50%;
        text-align: center;
        color: $green;
        width: 1.5em;
        height: 1.5em;
        margin: 0 auto;
    }

}