
.curly-brace
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(180deg) translate(50%, 50%);
    padding-top: 2em;
    padding-bottom: 2em;
    color: $pink;

    &__wrapper {
        position: relative;
    }
}


.brace
{
    border-bottom: 5px solid;
    margin: 0 10%;
    width: 30%;
    height: 25px;
    float: left;
}

.brace:before,
.brace:after
{
    content: "";
    width: 10%;
    height: 50px;
    position: absolute;
    display: block;
}

.brace-left:before
{
    border-bottom: 5px solid;
    border-bottom-left-radius: 20px;
    margin-left: -10%;
    margin-top: -25px;
}

.brace-left:after
{
    border-top: 5px solid;
    border-top-right-radius: 20px;
    margin-left: 30%;
    margin-top: 20px;
}

.brace-right:before
{
    border-top: 5px solid;
    border-top-left-radius: 20px;
    margin-left: -10%;
    margin-top: 20px;
}

.brace-right:after
{
    border-bottom: 5px solid;
    border-bottom-right-radius: 20px;
    margin-left: 30%;
    margin-top: -25px;
}