$colr-marketer: pink;

.marketer {

	&__wrapper {
		position: relative;
		position: relative;
		background: $silver-grey;
	}

    &__edit {
        margin-left: 15px;
        font-size: .7em;
        color: #809b29;
    }

	&__title {
		text-align: center;
		background: $green;
		margin: 0;
		color: $white;
		padding: 10px 0;
        display: block;
	}

	&__text {
		color: $white;
		text-align: left;
		margin-top: 0;
	}

	&__info {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 5px;
		display: none;
		padding: 1em;
		color: $white;
	}


	&__link {
		background-color: $white;
		padding: 6px 8px;
		color: $black;
		display: inline;

		&::after {
			content: '→';
			margin-left: 5px;
		}
	}

	&__image {
		padding-top: 100%;
		width: 100%;
		background-color: $silver-grey;
		background-size: cover;
		background-position: 50% 50%;
		margin: auto;
	}

	&__icon {
		font-size: 10em;
		border: 1px solid $green;
		border-radius: 50%;
		text-align: center;
		color: $green;
		width: 1.5em;
		height: 1.5em;
		margin: 0 auto;
	}

	&__wrapper:hover &__icon {
		color: $white;
		background: $green;
	}

    @media only screen and (min-width: 1024px) {
        &__wrapper:hover &__info {
        background: $green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;

        }
    }
}