.message-list {
    background-color: $silver-grey;
    margin-top: 0;
    padding: 1em;

    &__link {
        padding: 8px 6px;
    }

    &__message {
        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $grey;
            border-top: 1px solid $grey;
            padding: 1px;
        }
    }
    &__main {
        background-color: $white;

    }
}

.message-wrapper {
    border: 1px solid $darker-silver;
}