$colr-marketer: pink;

.news {
    border-bottom: 1px solid $silver-grey;
    padding: 1em 0;

    &__wrapper {
        position: relative;
        display: block;
    }

    &__title {
        text-align: left;
        color: $purple;
    }

    &__text {
        color: $purple;
        text-align: left;
        margin-top: 0;
    }

    &__info {
        background: $white;
    }

    &__image-wrapper {
        align-content: center;
        background-color: $grey;
    }

    &__post {

        * {
            text-align: left;
        }

        img {
            margin: 0 auto;
            display: block;
            max-width: 100%;
            width: 100%;
        }

        a {
            color: $pink;
            font-weight: bold;
        }
    }
}