// Social Icons
.social {
    display: inline;
    padding: 0;
    margin: 0;

    &__item {
        list-style: none;
        margin-right: 5px;
        display: inline-block;
    }

    &__link--large {
        font-size: 30px;
    }

    &__icon {
        color: $white;
    }
}

.fa-twitter-square {
    color: #4099FF;
}

.fa-linkedin-square {
    color: #0077b5;
}

.fa-instagram {
    color: #000;
}

