{% extends "layout.html" %}

{% load static widget_tweaks %}

{% block title %} {{ news_post.title }} {% endblock %}

{% block main %}
    <div class="page-login pnl">
        <div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
<!--                     <h1 class="pnl__title">{{ news_post.title }}</h1>
 -->                    <p class="helptext margin-bottom-30 padding-bottom-30 text-align-center">
                        <i class="fa fa-clock-o margin-right-5" aria-hidden="true"></i>
                        Posted on {{ news_post.created_at|date:"M d, Y"  }}
                    </p> 
                    <div class="news__post medium-8 large-8 small-12 large-centered small-centered columns">
                        {% if news_post.image %}
                            <img class="news__post-image" src="{{news_post.image}}" alt="{{ news_post.title }} News Post Image">
                        {% endif %}
                        
                        {{news_post.content | safe}}
                        <div class="sharethis-inline-share-buttons margin-top-30"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
