{% extends "layout.html" %}

{% block title %} News {% endblock %}
{% load static %}

{% block main %}
    <section class="pnl pnl--primary">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Latest News</h1>
                    <div class="row clearfix">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-login pnl">
        <div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    {% if news_post_list|length > 0 %}
                        {% for post in news_post_list %}
                            <div class="news small-12 columns margin-top-30">
                                    <div class="news_wrapper">
                                        <div class="small-12 medium-3 columns show-for-medium-up">
                                            <div class="news__image-wrapper margin-top-0">
                                                {% if post.image %}
                                                    <img src="{{ post.image }}" alt="{{ post.title }} Hero Image"></img>
                                                {% else %}
                                                    <img src="{% static 'images/homepage/cube3-news-icon.png' %}" alt="{{ post.title }} Hero Image">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="news__info small-12 medium-6 columns">
                                            <div clas="col-xs-12 columns">
                                                <a href="{% url 'news_post_detail' slug=post.slug %}"><h2 class="news__title h4 margin-top-0">{{ post.title | title }}</h2></a>
                                                {% if post.intro %}
                                                    <p class="news__text">{{ post.intro }}</p>  
                                                {% endif %}
                                            </div>
                                            <footer>
                                                <p class="news__title small"><i class="fa fa-calendar margin-right-5" aria-hidden="true"></i>{{ post.created_at|date:"M d, Y"  }}</p>
                                            </footer>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <a href="{% url 'news_post_detail' slug=post.slug %}" class="button button--secondary display-inline-block">
                                            Read More
                                            </a>
                                        </div>

                                    </div>
                                </div>
                        {% endfor %}
                        <div class="pagination clearfix padding-top-30 text-align-center">
                            <span class="step-links">
                                {% if news_post_list.has_previous %}
                                    <a class="text-link margin-right-5" href="?page=1">First</a>
                                    <a class="text-link margin-right-5" href="?page={{ news_post_list.previous_page_number }}">&larr; Previous</a>
                                {% endif %}

                                <span class="current margin-right-5">
                                    Page {{ news_post_list.number }} of {{ news_post_list.paginator.num_pages }}
                                </span>

                                {% if news_post_list.has_next %}
                                    <a class="text-link margin-right-5" href="?page={{ news_post_list.next_page_number }}">Next &rarr;</a>
                                    <a class="text-link" href="?page={{ news_post_list.paginator.num_pages }}">Last</a>
                                {% endif %}
                            </span>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="small-12">
                                <h3>Sorry, we couldn't find any News to display.</h3>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
