{% extends "layout.html" %}

{% block title %} Log in {% endblock %}

{% block main %}
    <section class="pnl pnl--primary">
        <div class="content-wrap">
             <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    <h1 class="pnl__title">Latest News</h1>
                    <div class="row clearfix">
                        <p class="small-12 medium-8 large-8 large-centered medium-centered column text-align-center pnl--light-txt">What we are talking about.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page-login pnl">
        <div class="content-wrap">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns">
                    {% if news_post_list|length > 0 %}
                        {% for post in news_post_list %}
                            <div class="cause small-12 columns margin-top-30">
                                    <div class="cause__wrapper">
                                        <div class="small-12 medium-3 columns show-for-medium-up">
                                            <div class="cause__image-wrapper margin-top-15">
                                                {% if post.image %}
                                                    <img class="cause__image" src="{{ post.image }}" alt="{{ post.title }} Hero Image"></img>
                                                {% else %}
                                                    <img class="profile-img" src="images/placeholder/marketer-default-image.png" alt="{{ post.title }} Hero Image">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="cause__info small-12 medium-6 columns">
                                            <div clas="col-xs-12 columns">
                                                <a href="{% url 'news_post_detail' slug=post.slug %}"><h2 class="cause__title h4">{{ post.title | title }}</h2></a>
                                                {% if post.intro %}
                                                    <p class="cause__text">{{ post.intro }}</p>  
                                                {% endif %}
                                            </div>
                                            <footer>
                                                <p class="cause__title small"><i class="fa fa-calendar margin-right-5" aria-hidden="true"></i>{{ post.created_at|date:"M d, Y"  }}</p>
                                            </footer>
                                        </div>
                                        <div class="small-12 medium-3 columns">
                                            <a href="{% url 'news_post_detail' slug=post.slug %}" class="button button--secondary display-inline-block">
                                            Read More
                                            </a>
                                        </div>

                                    </div>
                                </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="small-12">
                                <h3><i class="fa fa-frown-o margin-right-5" aria-hidden="true"></i> Sorry, we couldn't find any News to display.</h3>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
